{{ $src := .src }}
{{ $alt := default "" .alt }}
{{ $class := default "" .class }}
{{ $loading := default "lazy" .loading }}

{{ $baseImage := resources.Get $src }}


{{ if $baseImage -}}
  {{ $width := default "" .width }}
  {{ $height := default "" .height }}
  {{ $isWidthPercent := or (eq $width "") (in (string $width) "%") }}
  {{ $isHeightPercent := or (eq $height "") (in (string $height) "%") }}

  {{ $imageJPG := "" }}
  {{ $imageWebP := "" }}

  {{ if or $isWidthPercent $isHeightPercent }}
    {{ $imageJPG = $baseImage.Process "jpg" }}
    {{ $imageWebP = $baseImage.Process "webp" }}
  {{ else }}
    {{ $dimensions := printf "%sx%s" (printf "%v" $width) (printf "%v" $height) }}
    {{ $imageJPG = $baseImage.Fill (printf "crop %s jpg" $dimensions) }}
    {{ $imageWebP = $baseImage.Fill (printf "crop %s webp" $dimensions) }}
  {{ end }}

  <picture>
    {{ if $imageWebP }}
    <source srcset="{{ $imageWebP.RelPermalink }}" type="image/webp">
    {{ end }}
    {{ if $imageJPG }}
    <source srcset="{{ $imageJPG.RelPermalink }}" type="image/jpeg">
    <img src="{{ $imageJPG.RelPermalink }}"
         {{ if $width }}width="{{ $width }}"{{ end }}
         {{ if $height }}height="{{ $height }}"{{ end }}
         alt="{{ $alt }}"
         {{ if $class }}class="{{ $class }}"{{ end }}
         loading="{{ $loading }}">
    {{ end }}
  </picture>
{{ else }}
Image "{{ $src }}" not found
{{- end }}
