{{- $htmlHeadline := .htmlHeadline | default "Entdecke mehr!" -}}

<h3>{{ $htmlHeadline }}</h3>

<div class="row row-cols-1 gy-4">
  <div class="col">
    <div class="card card-mini">
      <div class="card-media">
        <div class="card-media__visual">
          <svg class="bd-placeholder-img img-fluid" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
               focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
          </svg>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-info">Stefan Keller, 01.12.2021</h5>
        <h3 class="card-title h4"><a href="#" class="stretched-link">Familienparadiese entdecken!</a></h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-mini">
      <div class="card-media">
        <div class="card-media__visual">
          <svg class="bd-placeholder-img img-fluid" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
               focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
          </svg>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-info">St.Gallen, 29.06.23 - 02.07.23</h5>
        <h3 class="card-title h4"><a href="#" class="stretched-link">OpenAir St.Gallen</a></h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-mini">
      <div class="card-media">
        <div class="card-media__visual">
          <svg class="bd-placeholder-img img-fluid" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
               role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
               focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
          </svg>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-info">St.Gallen, 12.10.23 - 22.10.23</h5>
        <h3 class="card-title h4"><a href="#" class="stretched-link">OLMA</a></h3>
      </div>
    </div>
  </div>
</div>

<hr>

<p>
  <a class="link-external" href="#">Hotel buchen</a>
</p>
<p>
  <a class="link-external" href="#">Restaurantfinder</a>
</p>
<p>
  <a class="link-external" href="#">Tourenguide</a>
</p>
