@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jo4xmv') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jo4xmv') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jo4xmv##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ofi-"], [class*=" ofi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ofi-plus {
  &:before {
    content: $ofi-plus; 
  }
}
.ofi-dash {
  &:before {
    content: $ofi-dash; 
  }
}
.ofi-grid-fill {
  &:before {
    content: $ofi-grid-fill; 
  }
}
.ofi-map-fill {
  &:before {
    content: $ofi-map-fill; 
  }
}
.ofi-list {
  &:before {
    content: $ofi-list; 
  }
}
.ofi-at-fill {
  &:before {
    content: $ofi-at-fill; 
  }
}
.ofi-geo-alt-fill {
  &:before {
    content: $ofi-geo-alt-fill; 
  }
}
.ofi-telephone-fill {
  &:before {
    content: $ofi-telephone-fill; 
  }
}
.ofi-whatsapp {
  &:before {
    content: $ofi-whatsapp; 
  }
}
.ofi-vimeo {
  &:before {
    content: $ofi-vimeo; 
  }
}
.ofi-youtube {
  &:before {
    content: $ofi-youtube; 
  }
}
.ofi-tiktok {
  &:before {
    content: $ofi-tiktok; 
  }
}
.ofi-twitter {
  &:before {
    content: $ofi-twitter; 
  }
}
.ofi-pinterest {
  &:before {
    content: $ofi-pinterest; 
  }
}
.ofi-linkedin {
  &:before {
    content: $ofi-linkedin; 
  }
}
.ofi-instagram {
  &:before {
    content: $ofi-instagram; 
  }
}
.ofi-google {
  &:before {
    content: $ofi-google; 
  }
}
.ofi-facebook {
  &:before {
    content: $ofi-facebook; 
  }
}
.ofi-search {
  &:before {
    content: $ofi-search; 
  }
}
.ofi-check-lg {
  &:before {
    content: $ofi-check-lg; 
  }
}
.ofi-clock-fill {
  &:before {
    content: $ofi-clock-fill; 
  }
}
.ofi-people-fill {
  &:before {
    content: $ofi-people-fill; 
  }
}
.ofi-x-circle {
  &:before {
    content: $ofi-x-circle; 
  }
}
.ofi-star-fill {
  &:before {
    content: $ofi-star-fill; 
  }
}
.ofi-question-circle-fill {
  &:before {
    content: $ofi-question-circle-fill; 
  }
}
.ofi-arrow-right {
  &:before {
    content: $ofi-arrow-right; 
  }
}
.ofi-arrow-left {
  &:before {
    content: $ofi-arrow-left; 
  }
}
.ofi-arrow-down {
  &:before {
    content: $ofi-arrow-down; 
  }
}
.ofi-arrow-up {
  &:before {
    content: $ofi-arrow-up; 
  }
}
.ofi-caret-down-fill {
  &:before {
    content: $ofi-caret-down-fill; 
  }
}
.ofi-caret-left-fill {
  &:before {
    content: $ofi-caret-left-fill; 
  }
}
.ofi-caret-right-fill {
  &:before {
    content: $ofi-caret-right-fill; 
  }
}
.ofi-caret-up-fill {
  &:before {
    content: $ofi-caret-up-fill; 
  }
}
.ofi-heart {
  &:before {
    content: $ofi-heart; 
  }
}
.ofi-heart-fill {
  &:before {
    content: $ofi-heart-fill; 
  }
}
.ofi-cart-fill {
  &:before {
    content: $ofi-cart-fill; 
  }
}
.ofi-link-external {
  &:before {
    content: $ofi-link-external; 
  }
}

