@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?ishavp') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?ishavp') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?ishavp##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ofi-"], [class*=" ofi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ofi-star-fill {
  &:before {
    content: $ofi-star-fill; 
  }
}
.ofi-question-circle-fill {
  &:before {
    content: $ofi-question-circle-fill; 
  }
}
.ofi-arrow-right {
  &:before {
    content: $ofi-arrow-right; 
  }
}
.ofi-arrow-left {
  &:before {
    content: $ofi-arrow-left; 
  }
}
.ofi-arrow-down {
  &:before {
    content: $ofi-arrow-down; 
  }
}
.ofi-arrow-up {
  &:before {
    content: $ofi-arrow-up; 
  }
}
.ofi-caret-down-fill {
  &:before {
    content: $ofi-caret-down-fill; 
  }
}
.ofi-caret-left-fill {
  &:before {
    content: $ofi-caret-left-fill; 
  }
}
.ofi-caret-right-fill {
  &:before {
    content: $ofi-caret-right-fill; 
  }
}
.ofi-caret-up-fill {
  &:before {
    content: $ofi-caret-up-fill; 
  }
}
.ofi-heart {
  &:before {
    content: $ofi-heart; 
  }
}
.ofi-heart-fill {
  &:before {
    content: $ofi-heart-fill; 
  }
}
.ofi-cart-fill {
  &:before {
    content: $ofi-cart-fill; 
  }
}
.ofi-link-external {
  &:before {
    content: $ofi-link-external; 
  }
}

