$icomoon-font-family: "OpenFrontendFramework" !default;
$icomoon-font-path: "fonts" !default;

$ofi-search: "\e90e";
$ofi-star-fill: "\e90c";
$ofi-question-circle-fill: "\e90d";
$ofi-arrow-right: "\e901";
$ofi-arrow-left: "\e902";
$ofi-arrow-down: "\e903";
$ofi-arrow-up: "\e904";
$ofi-caret-down-fill: "\e905";
$ofi-caret-left-fill: "\e906";
$ofi-caret-right-fill: "\e907";
$ofi-caret-up-fill: "\e908";
$ofi-heart: "\e909";
$ofi-heart-fill: "\e90a";
$ofi-cart-fill: "\e90b";
$ofi-link-external: "\e900";

