$icomoon-font-family: "OpenFrontendFramework" !default;
$icomoon-font-path: "fonts" !default;

$ofi-grid-fill: "\e91f";
$ofi-map-fill: "\e921";
$ofi-list: "\e922";
$ofi-at-fill: "\e919";
$ofi-geo-alt-fill: "\e91d";
$ofi-telephone-fill: "\e91e";
$ofi-whatsapp: "\e918";
$ofi-vimeo: "\e916";
$ofi-youtube: "\e913";
$ofi-tiktok: "\e914";
$ofi-twitter: "\e915";
$ofi-pinterest: "\e917";
$ofi-linkedin: "\e91a";
$ofi-instagram: "\e91b";
$ofi-google: "\e91c";
$ofi-facebook: "\e920";
$ofi-search: "\e912";
$ofi-check-lg: "\e911";
$ofi-clock-fill: "\e90e";
$ofi-people-fill: "\e90f";
$ofi-x-circle: "\e910";
$ofi-star-fill: "\e90c";
$ofi-question-circle-fill: "\e90d";
$ofi-arrow-right: "\e901";
$ofi-arrow-left: "\e902";
$ofi-arrow-down: "\e903";
$ofi-arrow-up: "\e904";
$ofi-caret-down-fill: "\e905";
$ofi-caret-left-fill: "\e906";
$ofi-caret-right-fill: "\e907";
$ofi-caret-up-fill: "\e908";
$ofi-heart: "\e909";
$ofi-heart-fill: "\e90a";
$ofi-cart-fill: "\e90b";
$ofi-link-external: "\e900";

