// Icons
//
// Custom icons for the docs.

// scss-docs-start icon-circle-css-vars-example
.icon-circle-bd-primary {
  --bs-icon-circle-color: var(--bs-white);
  --bs-icon-circle-bg: var(--bd-violet-bg);
  --bs-icon-circle-border-color: var(--bd-violet-bg);
}
// scss-docs-end icon-circle-css-vars-example
