// Local docs variables
$bd-orange:        #f47c00;
$bd-ofi-color:     lighten(saturate($bd-orange, 5%), 15%); // stylelint-disable-line function-disallowed-list
$bd-orange-light:  lighten(saturate($bd-orange, 5%), 45%); // stylelint-disable-line function-disallowed-list
$bd-accent:        #ffe484;

$bd-gutter-x: 3rem;
$bd-callout-variants: info, warning, danger !default;

:root,
[data-bs-theme="light"] {
  --bd-orange: #{$bd-orange};
  --bd-ofi-color: #{$bd-ofi-color};
  --bd-accent: #{$bd-accent};
  --bd-ofi-color-rgb: #{to-rgb($bd-ofi-color)};
  --bd-accent-rgb: #{to-rgb($bd-accent)};
  --bd-pink-rgb: #{to-rgb($pink-500)};
  --bd-teal-rgb: #{to-rgb($teal-500)};
  --bd-ofi-color-bg: var(--bd-ofi-color);
  --bd-toc-color: var(--bd-ofi-color);
  --bd-sidebar-link-bg: rgba(var(--bd-ofi-color-rgb), .1);
  --bd-callout-link: #{to-rgb($blue-600)};
  --bd-callout-code-color: #{$pink-600};
  --bd-pre-bg: var(--bs-tertiary-bg);
}

@include color-mode(dark, true) {
  --bd-ofi-color: #{mix($bd-ofi-color, $white, 75%)};
  --bd-ofi-color-bg: #{$bd-ofi-color};
  --bd-toc-color: var(--#{$prefix}emphasis-color);
  --bd-sidebar-link-bg: rgba(#{to-rgb(mix($bd-ofi-color, $black, 75%))}, .5);
  --bd-callout-link: #{to-rgb($blue-300)};
  --bd-callout-code-color: #{$pink-300};
  --bd-pre-bg: #{adjust-color($gray-900, $lightness: -2.5%)}; // stylelint-disable-line scss/at-function-named-arguments
}
