@mixin add-icon($icon: "", $position: before, $icon-gap: $icon-link-gap, $icon-size: $icon-link-icon-size, $icon-color: null) {
  @if $icon {
    &::#{$position} {
      display: inline-block;
      font-family: "#{$icomoon-font-family}";
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      line-height: 1;
      text-transform: none;
      content: $icon;
      speak: never;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      @if $icon-size {
        font-size: $icon-size;
      }

      @if $icon-color {
        color: $icon-color;
      }

      @if $icon-gap {
        @if ($position == before) {
          margin-right: $icon-gap;
        }

        @if ($position == after) {
          margin-left: $icon-gap;
        }
      }
    }
  }
}

// scss-docs-start icon-circle-variant-mixin
@mixin icon-circle-variant(
  $background,
  $border,
  $color: color-contrast($background),
) {
  --#{$prefix}icon-circle-color: #{$color};
  --#{$prefix}icon-circle-bg: #{$background};
  --#{$prefix}icon-circle-border-color: #{$border};
}
// scss-docs-end icon-circle-variant-mixin

// scss-docs-start icon-circle-size-mixin
@mixin icon-circle-size($padding-y, $padding-x, $font-size) {
  --#{$prefix}icon-circle-padding-y: #{$padding-y};
  --#{$prefix}icon-circle-padding-x: #{$padding-x};
  @include rfs($font-size, --#{$prefix}icon-circle-font-size);
}
// scss-docs-end icon-circle-size-mixin
