@import "flatpickr";

.form-datepicker,
.form-timepicker {
  --#{$prefix}form-datepicker-bg-img: #{escape-svg($form-datepicker-indicator)};
  padding-left: $form-datepicker-indicator-padding;
  background-image: var(--#{$prefix}form-datepicker-bg-img);
  background-repeat: no-repeat;
  background-position: $form-datepicker-bg-position;
  background-size: $form-datepicker-bg-size;
}

.form-timepicker {
  --#{$prefix}form-datepicker-bg-img: #{escape-svg($form-timepicker-indicator)};
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .form-datepicker {
      --#{$prefix}form-datepicker-bg-img: #{escape-svg($form-datepicker-indicator-dark)};
    }

    .form-timepicker {
      --#{$prefix}form-datepicker-bg-img: #{escape-svg($form-timepicker-indicator-dark)};
    }
  }
}
