---
layout: default
group: Layout
title: Meta
function: Metaproperties
source: https://developers.google.com/search/docs/crawling-indexing/special-tags?hl=de
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>[title]</title>
<meta name="description" content="[description] The Meta Description is a text, up to about 155 characters long, that summarises the content of a page and appears in the search results. More info" />
<meta name="keywords" content="[tags]">
<meta name="robots" content="[options]">
<meta name="author" content="[Author name here]">
<link rel="canonical" href="[url]">
<!--- Open Graph data -->
<meta property="og:locale" content=">[de_CH]">
<meta property="og:site_name" content=">[Name der Seite bspw. Ostschweiz Tourismus]">
<meta property="og:title" content=">[title]">
<meta property="og:description" content="[description]">
<meta property="og:url" content=">[website_url]">
<meta property="og:image" content=">[image_url_1200x630_or_ratio_1.19:1]">
<meta property="og:type" content="[website][article]">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="[source].ico">
<link rel="icon" type="image/png" href="[source].png">
<link rel="apple-touch-icon" sizes="180x180" href="[source].png">
