<header class="header" style="--bs-header-sticky-background-color: #eaeaea; --bs-header-sticky-color: #595959; --bs-header-sticky-padding-y: 10px;" data-of-header='{"sticky": true}'>
  <div class="container">
    <div class="header-brand">
      <a href="#">
        <img alt="Logo" width="200" height="60" src="../../assets/img/logos/logo.svg">
      </a>
    </div>
    <div class="header-content d-print-none">
      <div class="d-none d-lg-block">
        <div class="dropdown">
          <button class="header-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="header-link-icon"><i class="ofi-person-circle"></i></span>
            <span class="header-link-text">Mein Profil</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Login</a></li>
            <li><a class="dropdown-item" href="#">Registrieren</a></li>
          </ul>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <div class="dropdown">
          <button class="header-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="header-link-icon"><i class="ofi-cart-fill"></i></span>
            <span class="header-link-text">Warenkorb</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Warenkorb ansehen</a></li>
            <li><a class="dropdown-item" href="#">Kasse</a></li>
          </ul>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <div class="dropdown">
          <button class="header-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="header-link-icon">
                            <i class="ofi-heart-fill"></i>
                            <span class="header-link-icon-badge">
                                <span class="badge bg-danger">12</span>
                            </span>
                        </span>
            <span class="header-link-text">Favoriten</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Ausflugsideen Sommer</a></li>
            <li><a class="dropdown-item" href="#">Weihnachtsessen</a></li>
            <li><a class="dropdown-item" href="#">Vegane Restaurants</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Favoriten editieren</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div class="dropdown">
          <button class="header-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="header-link-icon"><i class="ofi-translate"></i></span>
            <span class="header-link-text">Sprache</span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Deutsch</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Française</a></li>
          </ul>
        </div>
      </div>
      <div class="d-none d-lg-block">
        <a href="#" class="header-link" data-bs-toggle="collapse" data-bs-target="#headerSearch5" aria-controls="headerSearch5" aria-expanded="false" aria-label="Toggle header search">
          <span class="header-link-icon d-none-collapsed"><i class="ofi-search"></i></span>
          <span class="header-link-icon d-block-collapsed"><i class="ofi-x-lg"></i></span>
          <span class="header-link-text">Suche</span>
        </a>
        <div class="collapse header-collapse header-search-wrapper" id="headerSearch5">
          <div class="container">
            <div class="header-search">
              <form class="search-form search-form-lg">
                <div class="search-form-inputs">
                  <input type="search" name="keywords" placeholder="Suchbegriff/e eingeben..." aria-label="Keywords">
                  <button type="submit">
                    <i class="ofi-search"></i>
                    <span class="visually-hidden">Suche</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="header-link" type="button" data-bs-toggle="collapse" data-bs-target="#pageMenu5" aria-controls="pageMenu4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="header-link-icon d-none-collapsed"><i class="ofi-list"></i></span>
          <span class="header-link-icon d-block-collapsed"><i class="ofi-x-lg"></i></span>
          <span class="header-link-text">Menu</span>
        </button>

        <div class="collapse header-collapse page-menu-wrapper" id="pageMenu5">
          <div class="container">
            <div class="page-menu">
              <div class="page-menu-mobile-content">
                <div>
                  <form class="search-form search-form-lg">
                    <div class="search-form-inputs">
                      <input type="search" name="keywords" placeholder="Suchbegriff/e eingeben..." aria-label="Keywords">
                      <button type="submit">
                        <i class="ofi-search"></i>
                        <span class="visually-hidden">Suche</span>
                      </button>
                    </div>
                  </form>
                </div>

                <div class="accordion" id="pageMenuMobile">
                  <div class="accordion-item">
                    <div class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pageMenuMobileAccount" aria-expanded="false" aria-controls="pageMenuMobileAccount">
                                    <span class="header-link header-link-row">
                                        <span class="header-link-icon"><i class="ofi-person-circle"></i></span>
                                        <span class="header-link-text">Mein Profil</span>
                                    </span>
                      </button>
                    </div>
                    <div id="pageMenuMobileAccount" class="accordion-collapse collapse" data-bs-parent="#pageMenuMobile">
                      <div class="accordion-body">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Registrieren</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pageMenuMobileCart" aria-expanded="false" aria-controls="pageMenuMobileCart">
                                    <span class="header-link header-link-row">
                                        <span class="header-link-icon"><i class="ofi-cart-fill"></i></span>
                                        <span class="header-link-text">Warenkorb</span>
                                    </span>
                      </button>
                    </div>
                    <div id="pageMenuMobileCart" class="accordion-collapse collapse" data-bs-parent="#pageMenuMobile">
                      <div class="accordion-body">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Warenkorb ansehen</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Kasse</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <div class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#pageMenuMobileFavorites" aria-expanded="false" aria-controls="pageMenuMobileFavorites">
                                    <span class="header-link header-link-row">
                                        <span class="header-link-icon">
                                        <i class="ofi-heart-fill"></i>
                                        <span class="header-link-icon-badge">
                                            <span class="badge bg-danger">12</span>
                                        </span>
                                        </span>
                                        <span class="header-link-text">Favoriten</span>
                                    </span>
                      </button>
                    </div>
                    <div id="pageMenuMobileFavorites" class="accordion-collapse collapse" data-bs-parent="#pageMenuMobile">
                      <div class="accordion-body">
                        <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Ausflugsideen Sommer</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Weihnachtsessen</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Vegane Restaurants</a>
                          </li>
                          <li><hr></li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Favoriten editieren</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="page-nav" data-of-page-navigation>
                <nav role="navigation">
                  <ul class="page-nav-level-1">
                    <li>
                      <a href="#" class="page-nav-link active" aria-current="page">Home</a>
                    </li>
                    <li class="page-nav-submenu" aria-haspopup="true">
                      <a class="page-nav-link" href="#">Entdecken</a>
                      <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                        <i class="ofi-arrow-right"><span class="visually-hidden">Aktuelles bis Broschüren & Prospekte</span></i>
                      </button>
                      <ul class="page-nav-level-2">
                        <li class="page-nav-back">
                          <button class="page-nav-back-link" data-of-page-menu-close>
                            <i class="ofi-arrow-left"></i>zurück
                          </button>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Aktuelles</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Wochenprogramm bis Betriebszustände</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Wochenprogramm</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Wetterprognose</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Betriebszustände</a>
                            </li>
                          </ul>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Highlights</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Frühling bis Winter</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Frühling</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Sommer</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Herbst</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Winter</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">Veranstaltungen</a>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">Broschüren & Prospekte</a>
                        </li>
                      </ul>
                    </li>
                    <li class="page-nav-submenu" aria-haspopup="true">
                      <a href="#" class="page-nav-link">Angebote</a>
                      <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                        <i class="ofi-arrow-right"><span class="visually-hidden">Übernachten bis Erleben</span></i>
                      </button>
                      <ul class="page-nav-level-2">
                        <li class="page-nav-back">
                          <button class="page-nav-back-link" data-of-page-menu-close>
                            <i class="ofi-arrow-left"></i>zurück
                          </button>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Übernachten</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Hotels bis Camping</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Hotels</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Ferienwohnungen</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Bed & Breakfast</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Camping</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Reservation</a>
                            </li>
                          </ul>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Essen & Trinken</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Restaurants bis Take away</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Restaurants</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Bars</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Take away</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Reservation</a>
                            </li>
                          </ul>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Erleben</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Shopping bis Ausflugsziele</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Shopping</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Routen & Touren</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Ausflugsziele</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Reservation</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="page-nav-submenu" aria-haspopup="true">
                      <a href="#" class="page-nav-link">Service</a>
                      <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                        <i class="ofi-arrow-right"><span class="visually-hidden">FAQ bis Merchandise</span></i>
                      </button>
                      <ul class="page-nav-level-2">
                        <li class="page-nav-back">
                          <button class="page-nav-back-link" data-of-page-menu-close>
                            <i class="ofi-arrow-left"></i>zurück
                          </button>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">FAQ</a>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Touristinfo</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Öffnungszeiten bis Gästefeedback</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Öffnungszeiten</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Kontakt</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Gästefeedback</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">Gästekarte</a>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Gruppen</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Seminarräume bis Teamevents</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Seminarräume</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Teamevents</a>
                            </li>
                          </ul>
                        </li>
                        <li class="page-nav-submenu" aria-haspopup="true">
                          <a class="page-nav-link" href="#">Merchandise</a>
                          <button class="page-nav-link-toggle" data-of-page-menu-toggle aria-expanded="false">
                            <i class="ofi-arrow-right"><span class="visually-hidden">Gutscheine bis Geschnekideen</span></i>
                          </button>
                          <ul class="page-nav-level-3">
                            <li class="page-nav-back">
                              <button class="page-nav-back-link" data-of-page-menu-close>
                                <i class="ofi-arrow-left"></i>zurück
                              </button>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Gutscheine</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Souvenirs</a>
                            </li>
                            <li>
                              <a class="page-nav-link" href="#">Geschenkideen</a>
                            </li>
                          </ul>
                        </li>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="page-menu-content">
                <h3>Reservieren & Buchen</h3>

                <div class="row row-cols-1 gy-4">
                  <div class="col">
                    <div class="card card-mini">
                      <div class="card-media">
                        <div class="card-media__visual">
                          <img src="../../assets/img/photos/angebot-fuehrung.jpg" loading="lazy">
                        </div>
                      </div>
                      <div class="card-body">
                        <h5 class="card-info">20% Rabatt</h5>
                        <h3 class="card-title h4"><a href="#" class="stretched-link">Auf alle Stadtführungen</a></h3>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card card-mini">
                      <div class="card-media">
                        <div class="card-media__visual">
                          <img src="../../assets/img/photos/angebot-konzert.jpg" loading="lazy">
                        </div>
                      </div>
                      <div class="card-body">
                        <h5 class="card-info">VIP-Ticket Vorverkauf</h5>
                        <h3 class="card-title h4"><a href="#" class="stretched-link">OpenAir St.Gallen</a></h3>
                      </div>
                    </div>
                  </div>
                </div>

                <hr>

                <p>
                  <a class="link-external" href="#">Hotel buchen</a>
                </p>
                <p>
                  <a class="link-external" href="#">Tisch reservieren</a>
                </p>
                <p>
                  <a class="link-external" href="#">Souvenir kaufen</a>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
