{{- $info := .Get "info" | default "Lorem ipsum" -}}
{{- $title := .Get "title" | default "Card title" -}}
{{- $text := .Get "text" | default "Some quick example text to build on the card title and make up the bulk of the card's content." -}}
{{- $btn_text := .Get "btn_text" | default "Find out more" -}}
{{- $btn_class := .Get "btn_class" | default "btn-outline-primary" -}}
{{- $img_src := .Get "img_src" | default "../../assets/media/sample-image.jpg" -}}

<div class="card">
  <div class="card-media">
    <div class="card-media__visual">
      <img src="{{ $img_src }}" alt="">
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-info">{{ $info }}</h5>
    <h4 class="card-title"><a href="#" class="stretched-link">{{ $title }}</a></h4>
    <p class="card-text">{{ $text }}</p>
  </div>

  <div class="card-action">
    <div class="card-action__buttons">
      <button type="button" class="btn btn-icon {{ $btn_class }} stretched-link">
        More <i class="ofi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
