
<div class="card" style="max-width: 22rem;">
  <div class="card-media">
    <div class="card-media__visual">
      <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
    </div>

    <div class="card-media__content card-media__content--top-left">
      <span class="icon-circle icon-circle-primary"><i class="ofi-star-fill"></i></span>
    </div>
    <div class="card-media__content card-media__content--top-right">
      <div class="state state--open">
        geöffnet
      </div>
    </div>
    <div class="card-media__content card-media__content--bottom-left card-media__content--no-gap">
      <div class="date-box">
        <div class="date-box__day">12.</div>
        <div class="date-box__month">OKT.</div>
      </div>
    </div>
    <div class="card-media__content card-media__content--bottom-right">
      <div class="labels-mini">
        <div class="labels-mini__item">@</div>
        <div class="labels-mini__item">@</div>
        <div class="labels-mini__item">@</div>
        <div class="labels-mini__more">+1</div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-info">Lorem ipsum</h5>
    <h3 class="card-title">Card title</h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-action">
    <div class="card-action__content">
      <div class="price">
        <div class="price__label">AB CHF</div>
        <div class="price__value">15.00</div>
      </div>
    </div>

    <div class="card-action__buttons">
      <button type="button" class="btn btn-icon btn-primary">
        <i class="ofi-cart-fill"></i>
      </button>
      <button type="button" class="btn btn-icon btn-primary">
        <i class="ofi-heart-fill"></i>
      </button>
      <button type="button" class="btn btn-icon btn-primary">
        More <i class="ofi-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
