<div class="page-menu">
  <div class="page-menu-mobile-content">
    <div>
      <form class="search-form">
        <label for="search-form-keywords">Search</label>

        <div class="search-form-inputs">
          <input type="search" id="search-form-keywords" name="keywords" placeholder="Search…">
          <button type="submit">
            <i class="ofi-search"></i>
            <span class="visually-hidden">Search</span>
          </button>
        </div>
      </form>
    </div>

    <div>
      <a href="#" class="header-link header-link-row">
        <span class="header-link-icon"><i class="ofi-person-circle"></i></span>
        <span class="header-link-text">Account</span>
      </a>
    </div>

    <div>
      <a href="#" class="header-link header-link-row">
        <span class="header-link-icon"><i class="ofi-cart-fill"></i></span>
        <span class="header-link-text">Warenkorb</span>
      </a>
    </div>

    <div>
      <a href="#" class="header-link header-link-row">
            <span class="header-link-icon">
              <i class="ofi-heart-fill"></i>
              <span class="header-link-icon-badge">
                <span class="badge bg-danger">12</span>
              </span>
            </span>
        <span class="header-link-text">Favouriten</span>
      </a>
    </div>
  </div>

  <div class="page-nav" data-of-page-navigation>
    <nav>
      <ul class="page-nav-level-1">
        <li>
          <a href="#" class="page-nav-link active" aria-current="page">Mehr</a>
        </li>
        <li class="page-nav-submenu">
          <a class="page-nav-link" href="#">Inspirieren</a>
          <ul class="page-nav-level-2">
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 2 - 1</a>
            </li>
            <li class="page-nav-submenu">
              <a class="page-nav-link" href="#">Lorem ipsum 2 - 2</a>
              <ul class="page-nav-level-3">
                <li>
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 1</a>
                </li>
                <li class="page-nav-submenu">
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 2</a>

                  <ul class="page-nav-level-4">
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 2 - 1</a>
                    </li>
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 2 - 2</a>
                    </li>
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 2 - 3</a>
                    </li>
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 2 - 4</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 2- 3</a>
                </li>
                <li>
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 2 - 4</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 2 - 3</a>
            </li>
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 2 - 4</a>
            </li>
            <li class="page-nav-submenu">
              <a class="page-nav-link" href="#">Lorem ipsum 2 - 5</a>
              <ul class="page-nav-level-3">
                <li>
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 1</a>
                </li>
                <li class="page-nav-submenu">
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2</a>

                  <ul class="page-nav-level-4">
                    <li class="page-nav-submenu">
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 1</a>

                      <ul class="page-nav-level-5">
                        <li>
                          <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 1 - 1</a>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 1 - 2</a>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 1 - 3</a>
                        </li>
                        <li>
                          <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 1 - 4</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 2</a>
                    </li>
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 5- 2- 3</a>
                    </li>
                    <li>
                      <a class="page-nav-link" href="#">Lorem ipsum 2 - 5 - 2 - 4</a>
                    </li>
                  </ul>

                </li>
                <li>
                  <a class="page-nav-link" href="#">Lorem ipsum 2 - 2- 3</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="page-nav-submenu">
          <a href="#" class="page-nav-link">Buchen</a>
          <ul class="page-nav-level-2">
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 3 - 1</a>
            </li>
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 3 - 2</a>
            </li>
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 3 - 3</a>
            </li>
            <li>
              <a class="page-nav-link" href="#">Lorem ipsum 3 - 4</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="page-nav-link">Erleben</a>
        </li>
        <li>
          <a href="#" class="page-nav-link">Noch Mehr</a>
        </li>
        <li>
          <a href="#" class="page-nav-link">Noch viel mehr mehr...</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="page-menu-content">
    <h3>Entdecke mehr!</h3>

    <div class="row row-cols-1 gy-4">
      <div class="col">
        <div class="card card-mini">
          <div class="card-media">
            <div class="card-media__visual">
              <svg class="bd-placeholder-img img-fluid" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
                   role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
                   focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
              </svg>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-info">Stefan Keller, 01.12.2021</h5>
            <h3 class="card-title h4"><a href="#" class="stretched-link">Familienparadiese entdecken!</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-mini">
          <div class="card-media">
            <div class="card-media__visual">
              <svg class="bd-placeholder-img img-fluid" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
                   role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
                   focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
              </svg>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-info">St.Gallen, 29.06.23 - 02.07.23</h5>
            <h3 class="card-title h4"><a href="#" class="stretched-link">OpenAir St.Gallen</a></h3>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-mini">
          <div class="card-media">
            <div class="card-media__visual">
              <svg class="bd-placeholder-img img-fluid" width="100%" height="200" xmlns="http://www.w3.org/2000/svg"
                   role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice"
                   focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#868e96"></rect>
                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
              </svg>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-info">St.Gallen, 12.10.23 - 22.10.23</h5>
            <h3 class="card-title h4"><a href="#" class="stretched-link">OLMA</a></h3>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <p>
      <a class="link-external" href="#">Hotel buchen</a>
    </p>
    <p>
      <a class="link-external" href="#">Restaurantfinder</a>
    </p>
    <p>
      <a class="link-external" href="#">Tourenguide</a>
    </p>
  </div>
</div>
