<nav class="pagination-dropdown mt-3" aria-label="POI list pagination">
  <button class="btn btn-square btn-primary">
    {{ partial "icon" (dict "name" "caret-left-fill") }}
  </button>

  <label for="{{ .Get "id" }}-pagination" class="visually-hidden">Pagination</label>
  <select id="{{ .Get "id" }}-pagination" class="form-select w-auto">
    <option>Page 1</option>
    <option>Page 2</option>
    <option>Page 3</option>
  </select>

  <button class="btn btn-square btn-primary">
    {{ partial "icon" (dict "name" "caret-right-fill") }}
  </button>
</nav>
