<div class="mb-3">
  <div class="row gy-3 justify-content-between justify-content-lg-end">
    <div class="col-auto">
      <label for="{{ .Get "id" }}-sorting" class="form-label">Sorting</label>
      <select id="{{ .Get "id" }}-sorting" class="form-select w-auto">
        <option value="result">Best results</option>
        <option value="alphabetical">Alphabetical</option>
        <option value="location">Place name</option>
      </select>
    </div>

    <div class="col-auto">
      <div class="form-label">View</div>

      <div class="btn-group">
        <button class="btn btn-icon {{ if eq (.Get "active-view") "grid" }}btn-primary{{ else }}btn-outline-primary{{ end }}" type="button">{{ partial "icon" (dict "name" "grid-fill") }}</button>
        <button class="btn btn-icon {{ if eq (.Get "active-view") "list" }}btn-primary{{ else }}btn-outline-primary{{ end }}" type="button">{{ partial "icon" (dict "name" "list") }}</button>
        <button class="btn btn-icon {{ if eq (.Get "active-view") "map" }}btn-primary{{ else }}btn-outline-primary{{ end }}" type="button">{{ partial "icon" (dict "name" "map-fill") }}</button>
      </div>
    </div>
  </div>
</div>
