{{- $info := .Get "info" | default "Lorem ipsum" -}}
{{- $title := .Get "title" | default "Card title" -}}
{{- $text := .Get "text" | default "Some quick example text to build on the card title and make up the bulk of the card's content." -}}
{{- $btn_text := .Get "btn_text" | default "Find out more" -}}
{{- $img_src := .Get "img_src" -}}
{{- $img_width := .Get "img_width" | default "100%" -}}
{{- $img_height := .Get "img_height" | default "200" -}}
{{- $price_label := .Get "price_label" | default "AB CHF" -}}
{{- $price := .Get "price" | default "15.00" -}}
{{- $hide_btn_cart := .Get "hide_btn_cart" | default "false" -}}

<div class="card{{ if eq (.Get "layout") "horizontal" }} card-horizontal mb-3{{ end }}">
  <div class="card-media">
    <div class="card-media__visual">
      {{- if $img_src -}}
      <img src="{{ $img_src }}" alt="" width="{{ $img_width }}" height="{{ $img_height }}">
      {{- else -}}
      <svg class="bd-placeholder-img img-fluid" width="{{ $img_width }}" height="{{ $img_height }}" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text></svg>
      {{- end -}}

    </div>
    <div class="card-media__content card-media__content--top-right">
      <div class="state state--open">
        open
      </div>
    </div>
    <div class="card-media__content card-media__content--bottom-right">
      <div class="labels">
        <div class="labels-item">
          <figure><img class="bd-placeholder-img" alt="Placeholder : A" width="36" height="36" src="data:image/svg+xml,%3Csvg%20style='font-size:%201.125rem;%20font-family:system-ui,-apple-system,%22Segoe%20UI%22,Roboto,%22Helvetica%20Neue%22,%22Noto%20Sans%22,%22Liberation%20Sans%22,Arial,sans-serif,%22Apple%20Color%20Emoji%22,%22Segoe%20UI%20Emoji%22,%22Segoe%20UI%20Symbol%22,%22Noto%20Color%20Emoji%22;%20-webkit-user-select:%20none;%20-moz-user-select:%20none;%20user-select:%20none;%20text-anchor:%20middle;'%20width='36'%20height='36'%20xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EPlaceholder%3C/title%3E%3Crect%20width='100%25'%20height='100%25'%20fill='%23868e96'%3E%3C/rect%3E%3Ctext%20x='50%25'%20y='50%25'%20fill='%23dee2e6'%20dy='.3em'%3EA%3C/text%3E%3C/svg%3E"></figure>
        </div>
        <div class="labels-item">
          <figure><img class="bd-placeholder-img" alt="Placeholder : B" width="36" height="36" src="data:image/svg+xml,%3Csvg%20style='font-size:%201.125rem;%20font-family:system-ui,-apple-system,%22Segoe%20UI%22,Roboto,%22Helvetica%20Neue%22,%22Noto%20Sans%22,%22Liberation%20Sans%22,Arial,sans-serif,%22Apple%20Color%20Emoji%22,%22Segoe%20UI%20Emoji%22,%22Segoe%20UI%20Symbol%22,%22Noto%20Color%20Emoji%22;%20-webkit-user-select:%20none;%20-moz-user-select:%20none;%20user-select:%20none;%20text-anchor:%20middle;'%20width='36'%20height='36'%20xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EPlaceholder%3C/title%3E%3Crect%20width='100%25'%20height='100%25'%20fill='%23868e96'%3E%3C/rect%3E%3Ctext%20x='50%25'%20y='50%25'%20fill='%23dee2e6'%20dy='.3em'%3EB%3C/text%3E%3C/svg%3E"></figure>
        </div>
        <div class="labels-item">
          <figure><img class="bd-placeholder-img" alt="Placeholder : C" width="36" height="36" src="data:image/svg+xml,%3Csvg%20style='font-size:%201.125rem;%20font-family:system-ui,-apple-system,%22Segoe%20UI%22,Roboto,%22Helvetica%20Neue%22,%22Noto%20Sans%22,%22Liberation%20Sans%22,Arial,sans-serif,%22Apple%20Color%20Emoji%22,%22Segoe%20UI%20Emoji%22,%22Segoe%20UI%20Symbol%22,%22Noto%20Color%20Emoji%22;%20-webkit-user-select:%20none;%20-moz-user-select:%20none;%20user-select:%20none;%20text-anchor:%20middle;'%20width='36'%20height='36'%20xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3EPlaceholder%3C/title%3E%3Crect%20width='100%25'%20height='100%25'%20fill='%23868e96'%3E%3C/rect%3E%3Ctext%20x='50%25'%20y='50%25'%20fill='%23dee2e6'%20dy='.3em'%3EC%3C/text%3E%3C/svg%3E"></figure>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-info">{{ $info }}</h5>
    <div class="card-title-rating">
      <h4 class="card-title"><a href="#" class="stretched-link">{{ $title}} </a></h4>
      <div class="card-title-star">
        <div class="rating rating-sm">
          <i class="star-on"></i>
          <i class="star-on"></i>
          <i class="star-on"></i>
          <i class="star-half"></i>
          <i class="star-off"></i>
        </div>
      </div>
    </div>
    <p class="card-text">{{ $text }}</p>
    <div class="card-tags">
      <div class="tag-list">
        <span class="tag">Tag 01</span>
        <span class="tag text-bg-light">Tag 02</span>
        <span class="tag text-bg-light">Another tag</span>
        <span class="tag text-bg-light">…</span>
      </div>
    </div>
    <div class="user-rating">
      <div class="user-rating__icon">
        {{ partial "icon" (dict "name" "people-fill") }}
      </div>
      <div class="user-rating__label">User-Rating:</div>
      <div class="user-rating__score">
        <span class="user-rating__score-value text-success">4.5</span>/<span class="user-rating__score-total">5</span>
      </div>
    </div>
  </div>

  <div class="card-action">
    <div class="card-action__content">
      <div class="price">
        <div class="price__label">{{ $price_label}}</div>
        <div class="price__value">{{ $price }}</div>
      </div>
    </div>
    <div class="card-action__buttons">
      {{- if eq $hide_btn_cart "false" -}}
      <button type="button" class="btn btn-icon btn-primary">
        {{ partial "icon" (dict "name" "cart-fill") }}
      </button>
      {{- end -}}
      <button type="button" class="btn btn-icon btn-primary">
        {{ partial "icon" (dict "name" "heart-fill") }}
      </button>
      <button type="button" class="btn btn-icon btn-primary stretched-link">
        More {{ partial "icon" (dict "name" "arrow-right") }}
      </button>
    </div>
  </div>
</div>
