<div class="wrapper" style="min-height: 400px; --bs-wrapper-padding-x: 0">
  <div class="container">
    <div class="wrapper-content">
      <h2>Your next destination</h2>
      <p>Escape ordinary, experience majestic views!</p>
      <p>
        <a href="#" class="btn btn-light btn-sm icon-link">Find out more <i class="ofi-arrow-right"></i></a>
      </p>
    </div>
  </div>

  <div class="wrapper-bg-media">
    <figure>
      <img src="../../assets/media/sample-image.jpg" alt="">
    </figure>
  </div>
</div>
