{{- $title := .Get "title" | default "Your next destination" -}}
{{- $text := .Get "text" | default "Escape ordinary, experience majestic views!" -}}
{{- $btn_text := .Get "btn_text" | default "Find out more" -}}
{{- $btn_class := .Get "btn_class" | default "btn-light btn-sm" -}}
{{- $img_src := .Get "img_src" | default "../../assets/media/sample-image.jpg" -}}
{{- $class := .Get "class" | default "" -}}

<div class="wrapper" style="min-height: 400px; --bs-wrapper-padding-x: 0; --bs-wrapper-color: #fff">
  <div class="container">
    <div class="wrapper-content wrapper-content-padding-x wrapper-content-padding-y wrapper-content-text-shadow fs-5">
      <h2>{{ $title }}</h2>
      <p>{{ $text }}</p>
      <p>
        <a href="#" class="btn {{ $btn_class }} icon-link">{{ $btn_text }}{{ partial "icon" (dict "name" "arrow-right") }}</a>
      </p>
    </div>
  </div>

  <div class="wrapper-bg-media">
    <figure>
      <img src="{{ $img_src }}" alt="">
    </figure>
  </div>
</div>
