.btn-icon {
  display: inline-flex;
  flex-wrap: wrap;
  gap: $btn-icon-gap;
  align-items: center;

  &::before {
    width: 1px;
    margin-right: calc((#{$btn-icon-gap} + 1px) * -1);
    visibility: hidden;
    content: "\00a0";
  }
}

.btn-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-align: center;
}

.btn-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  text-align: center;
  @include border-radius(50%);
}
