// Price
.price {
  // scss-docs-start price-css-vars
  --#{$prefix}price-row-gap: #{$price-row-gap};
  --#{$prefix}price-label-color: #{$price-label-color};
  --#{$prefix}price-label-font-size: #{$price-label-font-size};
  --#{$prefix}price-value-color: #{$price-value-color};
  --#{$prefix}price-value-font-size: #{$price-value-font-size};
  --#{$prefix}price-value-font-weight: #{$price-value-font-weight};
  // scss-docs-end price-css-vars
  display: flex;
  flex-direction: column;
  row-gap: var(--#{$prefix}price-row-gap);
  font-size: var(--#{$prefix}price-value-font-size);
  line-height: 1;

  &__label {
    font-size: var(--#{$prefix}price-label-font-size);
    color: var(--#{$prefix}price-label-color);
  }

  &__value {
    font-weight: var(--#{$prefix}price-value-font-weight);
    color: var(--#{$prefix}price-value-color);
  }
}

// EventDate
.date-box {
  // scss-docs-start date-box-css-vars
  --#{$prefix}date-box-row-gap: #{$date-box-row-gap};
  --#{$prefix}date-box-bg: #{$date-box-bg};
  --#{$prefix}date-box-padding-x: #{$date-box-padding-x};
  --#{$prefix}date-box-padding-y: #{$date-box-padding-y};
  --#{$prefix}date-box-padding-day-color: #{$date-box-padding-day-color};
  --#{$prefix}date-box-padding-day-font-size: #{$date-box-padding-day-font-size};
  --#{$prefix}date-box-padding-month-color: #{$date-box-padding-month-color};
  --#{$prefix}date-box-padding-month-font-size: #{$date-box-padding-month-font-size};
  // scss-docs-end date-box-css-vars
  display: inline-flex;
  flex-direction: column;
  row-gap: var(--#{$prefix}date-box-row-gap);
  padding: var(--#{$prefix}date-box-padding-y) var(--#{$prefix}date-box-padding-x);
  line-height: 1;
  text-align: center;
  background-color: var(--#{$prefix}date-box-bg);

  &__day {
    font-size: var(--#{$prefix}date-box-padding-day-font-size);
    color: var(--#{$prefix}date-box-padding-day-color);
  }

  &__month {
    font-size: var(--#{$prefix}date-box-padding-month-font-size);
    color: var(--#{$prefix}date-box-padding-month-color);
  }
}

// State
.state {
  // scss-docs-start state-css-vars
  --#{$prefix}state-bg: #{$state-bg};
  --#{$prefix}state-gap: #{$state-gap};
  --#{$prefix}state-padding-x: #{$state-padding-x};
  --#{$prefix}state-padding-y: #{$state-padding-y};
  @include rfs($state-font-size, --#{$prefix}state-font-size);
  --#{$prefix}state-font-weight: #{$state-font-weight};
  --#{$prefix}state-color: #{$state-color};
  --#{$prefix}state-border-radius: #{$state-border-radius};
  --#{$prefix}state-icon: #{escape-svg($state-icon)};
  --#{$prefix}state-icon-color: #{$state-icon-color};
  // scss-docs-end state-css-vars
  position: relative;
  display: inline-flex;
  column-gap: var(--#{$prefix}state-gap);
  padding: var(--#{$prefix}state-padding-y) var(--#{$prefix}state-padding-x);
  font-weight: var(--#{$prefix}state-font-weight);
  line-height: 1;
  color: var(--#{$prefix}state-color);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--#{$prefix}state-bg);
  @include font-size(var(--#{$prefix}state-font-size));
  @include border-radius(var(--#{$prefix}state-border-radius));

  // Empty states collapse automatically
  &:empty {
    display: none;
  }

  // Icon
  @include add-icon(var(--#{$prefix}state-icon), $icon-gap: 0);

  &::before {
    position: absolute;
    right: var(--#{$prefix}state-padding-x);
    color: var(--#{$prefix}state-icon-color);
  }

  &::after {
    width: 1em;
    height: 1em;
    content: "";
    background-color: var(--#{$prefix}state-badge-color);
    @include border-radius(50%);
  }

  @each $color, $value in $state-statuses {
    &.state--#{$color} {
      --#{$prefix}state-badge-color: #{$value};
    }
  }

  .card-media & {
    vertical-align: top;
  }
}

// Minify the state under certain container width
@container (max-width: 209px) {
  .state {
    position: relative;
    box-sizing: content-box;
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
    text-indent: -9999px;
    white-space: nowrap;

    &::after {
      position: absolute;
      left: var(--#{$prefix}state-padding-x);
    }
  }
}

.state-simple {
  --#{$prefix}state-bg: none;
  --#{$prefix}state-padding-x: 0;
  --#{$prefix}state-padding-y: 0;
  --#{$prefix}state-border-radius: 0;
}

// Rating
.user-rating {
  // scss-docs-start user-rating-css-vars
  --#{$prefix}user-rating-gap: #{$user-rating-gap};
  --#{$prefix}user-rating-color: #{$user-rating-color};
  --#{$prefix}user-rating-font-weight: #{$user-rating-font-weight};
  --#{$prefix}user-rating-icon-font-size: #{$user-rating-icon-font-size};
  // scss-docs-end user-rating-css-vars
  display: flex;
  gap: var(--#{$prefix}user-rating-gap);
  align-items: center;
  font-weight: var(--#{$prefix}user-rating-font-weight);
  line-height: 1;
  color: var(--#{$prefix}user-rating-color);

  &__icon {
    font-size: var(--#{$prefix}user-rating-icon-font-size);
  }
}
