@import "plugins/glightbox/glightbox";

.glightbox-container {
  // scss-docs-start lightbox-css-vars
  --lightbox-offset: 20px;
  --lightbox-backgorund: #{$lightbox-background};
  --lightbox-tabs-padding-x: #{$lightbox-tabs-padding-x};
  --lightbox-tabs-padding-y: #{$lightbox-tabs-padding-y};
  --lightbox-tabs-border-width: #{$lightbox-tabs-border-width};
  --lightbox-tabs-border-color: #{$lightbox-tabs-border-color};
  --lightbox-thumbnails-width: #{$lightbox-thumbnails-width};
  --lightbox-thumbnails-height: #{$lightbox-thumbnails-height};
  --lightbox-thumbnails-padding-y: #{$lightbox-thumbnails-padding-x};
  --lightbox-thumbnails-padding-x: #{$lightbox-thumbnails-padding-y};
  --lightbox-thumbnails-border-width: #{$lightbox-thumbnails-border-width};
  --lightbox-thumbnails-border-color: #{$lightbox-thumbnails-border-color};
  --lightbox-btn-arrow-width: #{$lightbox-btn-arrow-width};
  --lightbox-btn-arrow-height: #{$lightbox-btn-arrow-height};
  --lightbox-btn-arrow-offset: #{$lightbox-btn-arrow-offset};
  --lightbox-btn-arrow-background: #{$lightbox-btn-arrow-background};
  --lightbox-btn-arrow-hover-background: #{$lightbox-btn-arrow-hover-background};
  --lightbox-btn-close-width: #{$lightbox-btn-close-width};
  --lightbox-btn-close-height: #{$lightbox-btn-close-height};
  --lightbox-btn-close-offset-right: #{$lightbox-btn-close-offset-right};
  --lightbox-btn-close-offset-top: #{$lightbox-btn-close-offset-top};
  --lightbox-btn-close-background: #{$lightbox-btn-close-background};
  --lightbox-btn-close-hover-background: #{$lightbox-btn-close-hover-background};
  // scss-docs-end lightbox-css-vars

  .goverlay {
    background-color: var(--lightbox-backgorund);
  }
}

.glightbox-clean .gcontainer {
  .gprev,
  .gnext {
    width: var(--lightbox-btn-arrow-width);
    height: var(--lightbox-btn-arrow-height);
    background-color: var(--lightbox-btn-arrow-background);

    &:hover {
      background-color: var(--lightbox-btn-arrow-hover-background);
    }
  }

  .gprev {
    left: var(--lightbox-btn-arrow-offset);
  }

  .gnext {
    right: var(--lightbox-btn-arrow-offset);
  }

  .gclose {
    top: var(--lightbox-btn-close-offset-top);
    right: var(--lightbox-btn-close-offset-right);
    width: var(--lightbox-btn-close-width);
    height: var(--lightbox-btn-close-height);
    background-color: var(--lightbox-btn-close-background);

    &:hover {
      background-color: var(--lightbox-btn-close-hover-background);
    }
  }
}

.lightbox-tabs {
  width: 100%;
  padding: var(--lightbox-tabs-padding-y) var(--lightbox-tabs-padding-x);
  border-bottom: var(--lightbox-tabs-border-width) solid var(--lightbox-tabs-border-color);
}

.lightbox-thumbnails {
  width: 100%;
  padding: var(--lightbox-thumbnails-padding-y) var(--lightbox-thumbnails-padding-x);
  border-top: var(--lightbox-thumbnails-border-width) solid var(--lightbox-thumbnails-border-color);
}

.lightbox-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .gslider {
    @include make-col();
    margin-right: auto;
    margin-left: auto;
  }

  .gslide {
    height: 100%;
  }

  .ginner-container {
    max-width: none !important; // stylelint-disable-line declaration-no-important
    height: auto !important; // stylelint-disable-line declaration-no-important

    &.desc-bottom {
      width: fit-content;

      .gslide-description {
        max-width: 100% !important; // stylelint-disable-line declaration-no-important
      }
    }
  }

  $content-height: calc(100dvh - var(--lightbox-tabs-wrapper-height, 0px) - var(--lightbox-thumbnails-wrapper-height, 0px) - var(--lightbox-description-height, 0px) - var(--lightbox-offset)) !important; // stylelint-disable-line declaration-no-important

  .gslide-inline {
    max-width: 100% !important; // stylelint-disable-line declaration-no-important
    max-height: calc(100dvh - var(--lightbox-tabs-wrapper-height, 0px) - var(--lightbox-thumbnails-wrapper-height, 0px) - var(--lightbox-offset));
    width: auto !important; // stylelint-disable-line declaration-no-important
    height: $content-height;
    aspect-ratio: 16/9;

    // The same breakpoint as in glightbox.css
    @media (min-width: 769px) {
      width: calc(100% - 2 * (var(--lightbox-btn-arrow-offset) + var(--lightbox-btn-arrow-width) + var(--lightbox-btn-arrow-offset))) !important; // stylelint-disable-line declaration-no-important
    }

    .ginlined-content {
      max-width: none !important; // stylelint-disable-line declaration-no-important
      width: 100%;
      height: 100% !important; // stylelint-disable-line declaration-no-important
      padding: 0;
    }
  }

  .gslide:not(.zoomed) .gslide-image img {
    @include transition(max-height .2s);
    max-height: $content-height;
  }

  .gslide-external {
    min-width: 0;
    height: $content-height;
    max-height: $content-height;

    // The same breakpoint as in glightbox.css
    @media (min-width: 769px) {
      width: calc(100% - 2 * (var(--lightbox-btn-arrow-offset) + var(--lightbox-btn-arrow-width) + var(--lightbox-btn-arrow-offset)));
    }
  }

  .gslide-video {
    width: auto !important; // stylelint-disable-line declaration-no-important
    max-width: none !important; // stylelint-disable-line declaration-no-important
    height: $content-height;
    aspect-ratio: 16/9;

    video {
      max-width: none !important; // stylelint-disable-line declaration-no-important
    }
  }

  .gslide-video {
    overflow: hidden;
  }
}

.gallery-thumbnails {
  .swiper-slide {
    width: var(--lightbox-thumbnails-width);
    height: var(--lightbox-thumbnails-height);
    cursor: pointer;
    counter-increment: section;

    &:not(.placeholder-image) {
      background: $gray-100;
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: 2;
      content: "";
      border: 0 solid $primary;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      content: counter(section);
    }

    &.swiper-slide-active {
      &::before {
        border-width: 2px;
      }
    }
  }
}

/* Skin */
html .glightbox-clean {
  .gslide-description {
    background: #fff;
  }

  .gdesc-inner {
    padding: 1em;
  }

  .gslide-title {
    margin-bottom: .25em;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .gslide-desc {
    font-family: $font-family-base;
    line-height: $line-height-base;
  }

  .desc-bottom {
    .gslide-description {
      position: absolute;
      bottom: 0;
      left: 50%;
      color: $white;
      background: rgba($black, .2);
      backdrop-filter: blur(5px);
      transform: translateX(-50%);
    }

    .gslide-title {
      color: inherit;
    }
  }

  .gslide-media {
    box-shadow: none;
  }
}

.goverlay.gfadeOut + .gcontainer { // stylelint-disable-line selector-class-pattern
  .lightbox-tabs,
  .lightbox-thumbnails {
    animation: gfadeOut .5s ease;
  }
}

.goverlay.gfadeIn + .gcontainer { // stylelint-disable-line selector-class-pattern
  .lightbox-tabs,
  .lightbox-thumbnails {
    animation: gfadeIn .5s ease;
  }
}

.gclose,
.gprev,
.gnext {
  font-size: 1rem;

  svg {
    width: 1em;
    height: 1em;
  }
}

.glightbox-button-hidden {
  display: none;
}

// Adjust slide content height when no tabs are present to ensure close button visibility
.gcontainer {
  &:not(:has(.lightbox-tabs)) {
    --nav-tabs-height: 4rem;
    --lightbox-tabs-wrapper-height: calc(var(--nav-tabs-height) + var(--lightbox-tabs-padding-y) * 2);

    &:not(:has(.lightbox-thumbnails)) {
      --nav-tabs-height: 5rem;
    }
  }
}

.gloader {
  display: block !important; // stylelint-disable-line declaration-no-important
  border-color: currentcolor;
  border-right-color: transparent;

  .glightbox-closing &  {
    display: none !important; // stylelint-disable-line declaration-no-important
  }
}
