// scss-docs-start media-attribution-css-vars
:root {
  --#{$prefix}media-attribution-width: #{$media-attribution-width};
  --#{$prefix}media-attribution-height: #{$media-attribution-height};
  --#{$prefix}media-attribution-opacity: #{$media-attribution-opacity};
  --#{$prefix}media-attribution-svg-width: #{$media-attribution-svg-width};
  --#{$prefix}media-attribution-svg-height: #{$media-attribution-svg-height};
  --#{$prefix}media-attribution-svg-color: #{$media-attribution-svg-color};
}
// scss-docs-end media-attribution-css-vars

.media-attribution-container {
  position: relative;
}

.media-attribution {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--#{$prefix}media-attribution-width);
  height: var(--#{$prefix}media-attribution-height);
  opacity: var(--#{$prefix}media-attribution-opacity);
  cursor: help;
  @include transition(opacity .2s ease-in-out);

  &:hover {
    opacity: 1;
  }

  > svg {
    width: var(--#{$prefix}media-attribution-svg-width) !important; // Do not let it be adjusted accidentally by other rules
    height: var(--#{$prefix}media-attribution-svg-height) !important; // Do not let it be adjusted accidentally by other rules
    color: var(--#{$prefix}media-attribution-svg-color) !important; // Do not let it be adjusted accidentally by other rules
  }
}
