.modal-dialog-corner {
  display: flex;
  align-items: flex-end;
  margin-right: 0;
  padding-left: var(--#{$prefix}modal-margin);
  min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);

  .modal.fade & {
    transform: translate(50px, 0);
  }

  .modal.show & {
    transform: translate(calc(var(--#{$prefix}modal-margin) * -1), 0);
  }
}

.modal-dialog-plain {
  .btn-close {
    position: absolute;
    top: var(--#{$prefix}modal-padding);
    right: var(--#{$prefix}modal-padding);
    z-index: 10;
  }
}
