.page-menu-wrapper {
  // scss-docs-start page-menu-css-vars
  --#{$prefix}page-menu-padding-x: #{if($page-menu-padding-x == null, 0, $page-menu-padding-x)};
  --#{$prefix}page-menu-padding-y: #{$page-menu-padding-y};
  --#{$prefix}page-menu-background-color: #{$page-menu-light-background};
  --#{$prefix}page-menu-color: #{$page-menu-light-color};
  --#{$prefix}page-menu-box-shadow: #{$page-menu-box-shadow};
  --page-menu-breakpoint: #{breakpoint-min($page-menu-breakpoint)};
  // scss-docs-end page-menu-css-vars

  color: var(--#{$prefix}page-menu-color);
  background-color: var(--#{$prefix}page-menu-background-color);
  box-shadow: var(--#{$prefix}page-menu-background-color);
}

.page-menu {
  display: grid;
  gap: 1.5rem;
  padding: var(--#{$prefix}page-menu-padding-y) var(--#{$prefix}page-menu-padding-x);

  @include media-breakpoint-up($page-menu-breakpoint) {
    &:has(.page-menu-content) {
      grid-template-columns: 1fr 23em;
    }
  }
}

.page-menu-wrapper-dark,
.header[data-bs-theme="dark"] .page-menu-wrapper {
  // scss-docs-start page-menu-dark-css-vars
  --#{$prefix}page-menu-background-color: #{$page-menu-dark-background};
  --#{$prefix}page-menu-color: #{$page-menu-dark-color};
  // scss-docs-end page-menu-dark-css-vars
}

.page-menu-mobile-content {
  display: grid;
  gap: 1rem;
  min-width: 0; // fix problem with mobile menu width when carousel is inside

  @include media-breakpoint-up($page-menu-breakpoint) {
    display: none;
  }
}
