.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: $ratings-font-size;
}

.cancel-on-png,
.cancel-off-png {
  &::before {
    content: 'x';
  }

  //@include add-icon($ofi-heart, $icon-gap: 0);
}

.star-on-png,
.star-off-png,
.star-half-png {
  @include add-icon($ofi-star-fill, $icon-gap: 0);
}

.star-on-png {
  color: var(--ratings-on-color);
}

.star-off-png {
  color: var(--ratings-off-color);
}

.star-half-png {

  &::before {
    background: $ratings-off-color;
    background: linear-gradient(to right, var(--ratings-on-color) 50%, var(--ratings-off-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

[data-of-ratings] {
  display: inline-flex;
  --ratings-off-color: #{$ratings-off-color};
  --ratings-on-color: #{$ratings-on-color};

  &[data-read-only] {
    --ratings-off-color: #{$ratings-off-color-disabled};
    --ratings-on-color: #{$ratings-on-color-disabled};
  }
}
