:root {
  // scss-docs-start slider-css-vars
  --#{$prefix}slider-theme-color: #{$slider-theme-color};
  --#{$prefix}slider-pagination-color: var(--#{$prefix}slider-theme-color);
  --#{$prefix}slider-pagination-left: #{$slider-pagination-left};
  --#{$prefix}slider-pagination-right: #{$slider-pagination-right};
  --#{$prefix}slider-pagination-bottom: #{$slider-pagination-bottom};
  --#{$prefix}slider-pagination-top: #{$slider-pagination-top};
  --#{$prefix}slider-pagination-bullet-size: #{$slider-pagination-bullet-size};
  --#{$prefix}slider-pagination-bullet-width: #{$slider-pagination-bullet-width};
  --#{$prefix}slider-pagination-bullet-height: #{$slider-pagination-bullet-height};
  --#{$prefix}slider-pagination-bullet-border-radius: #{$slider-pagination-bullet-border-radius};
  --#{$prefix}slider-pagination-bullet-inactive-color: #{$slider-pagination-bullet-inactive-color};
  --#{$prefix}slider-pagination-bullet-inactive-opacity: #{$slider-pagination-bullet-inactive-opacity};
  --#{$prefix}slider-pagination-bullet-opacity: #{$slider-pagination-bullet-opacity};
  --#{$prefix}slider-pagination-bullet-horizontal-gap: #{$slider-pagination-bullet-horizontal-gap};
  --#{$prefix}slider-pagination-bullet-vertical-gap: #{$slider-pagination-bullet-vertical-gap};
  --#{$prefix}slider-navigation-offset-x: #{$slider-navigation-offset-x};
  --#{$prefix}slider-thumbs-width: #{$slider-thumbs-width};
  --#{$prefix}slider-thumbs-top: #{$slider-thumbs-top};
  --#{$prefix}slider-thumbs-bottom: #{$slider-thumbs-bottom};
  --#{$prefix}slider-thumbs-left: #{$slider-thumbs-left};
  --#{$prefix}slider-thumbs-right: #{$slider-thumbs-right};
  --#{$prefix}slider-thumb-text-color: #{$slider-thumb-text-color};
  --#{$prefix}slider-thumb-text-bg: #{$slider-thumb-text-bg};
  --#{$prefix}slider-thumbs-slide-width: #{$slider-thumbs-slide-width};
  --#{$prefix}slider-scrollbar-bg-color: #{$slider-scrollbar-bg-color};
  --#{$prefix}slider-scrollbar-drag-bg-color: #{$slider-scrollbar-drag-bg-color};
  --#{$prefix}slider-scrollbar-size: #{$slider-scrollbar-size};
  --#{$prefix}slider-scrollbar-drag-size: #{$slider-scrollbar-drag-size};
  --#{$prefix}slider-pagination-fraction-color: #{$slider-pagination-fraction-color};
  // scss-docs-end slider-css-vars
  --swiper-theme-color: var(--#{$prefix}slider-theme-color);
}

.slider {
  position: relative;

  .swiper-slide {
    display: flex;
    height: auto;

    > * {
      flex-grow: 1;
    }
  }
}

// Carousel navigation
.slider-navigation {
  $this: &;
  position: absolute;
  top: 50%;
  right: var(--#{$prefix}slider-navigation-offset-x);
  left: var(--#{$prefix}slider-navigation-offset-x);
  z-index: 2;
  display: flex;
  gap: .5rem;
  justify-content: space-between;
  pointer-events: none;
  transform: translateY(-50%);

  button {
    pointer-events: auto;
  }
}

.slider-navigation-static {
  display: flex;
  gap: .5rem;
}

// Carousel pagination
.slider-pagination {
  position: absolute;
  top: var(--#{$prefix}slider-pagination-top);
  right: var(--#{$prefix}slider-pagination-left);
  bottom: var(--#{$prefix}slider-pagination-bottom);
  left: var(--#{$prefix}slider-pagination-left);
  z-index: 10;
  display: flex;
  row-gap: var(--#{$prefix}slider-pagination-bullet-horizontal-gap);
  column-gap: var(--#{$prefix}slider-pagination-bullet-vertical-gap);
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
  @include transition(300ms opacity);

  &.slider-pagination-hidden {
    opacity: 0;
  }

  .slider-pagination-disabled > &,
  &.slider-pagination-disabled {
    display: none;
  }

  &--top-left {
    --#{$prefix}slider-pagination-bottom: auto;
    justify-content: flex-start;
  }

  &--top-center {
    --#{$prefix}slider-pagination-bottom: auto;
  }

  &--top-right {
    --#{$prefix}slider-pagination-bottom: auto;
    justify-content: flex-end;
  }

  &--bottom-left {
    --#{$prefix}slider-pagination-top: auto;
    justify-content: flex-start;
  }

  &--bottom-center {
    --#{$prefix}slider-pagination-top: auto;

  }

  &--bottom-right {
    --#{$prefix}slider-pagination-top: auto;
    justify-content: flex-end;
  }
}

// Static pagination position
.slider-pagination {
  &--left,
  &--center,
  &--right {
    position: static;
    margin-top: var(--#{$prefix}slider-pagination-top);
    margin-bottom: var(--#{$prefix}slider-pagination-bottom);
  }

  &--left {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }
}

/* Bullets */
.slider-pagination-bullet {
  width: var(--#{$prefix}slider-pagination-bullet-width);
  height: var(--#{$prefix}slider-pagination-bullet-height);
  pointer-events: auto;
  cursor: pointer;
  background: var(--#{$prefix}slider-pagination-bullet-inactive-color);
  opacity: var(--#{$prefix}slider-pagination-bullet-inactive-opacity);
  @include border-radius(var(--#{$prefix}slider-pagination-bullet-border-radius));

  @at-root button#{&} {
    padding: 0;
    margin: 0;
    appearance: none;
    border: 0;
    box-shadow: none;
  }

  .slider-pagination-clickable & {
    cursor: pointer;
  }

  &:only-child {
    display: none;
  }
}

.slider-pagination-bullet-active {
  background: var(--#{$prefix}slider-pagination-color);
  opacity: var(--#{$prefix}slider-pagination-bullet-opacity);
}

.slider-pagination-lock {
  display: none;
}

// Fraction pagination
.slider-pagination-fraction {
  color: var(--#{$prefix}slider-pagination-fraction-color);
}

// Scrollbar
.slider-scrollbar {
  position: relative;
  touch-action: none;
  background-color: var(--#{$prefix}slider-scrollbar-bg-color);

  .slider-scrollbar-disabled > &,
  &.slider-scrollbar-disabled {
    display: none;
  }

  &.slider-scrollbar-horizontal {
    height: var(--#{$prefix}slider-scrollbar-size);
  }
}

.slider-scrollbar-drag {
  position: relative;
  top: calc(var(--#{$prefix}slider-scrollbar-drag-size) * -.5);
  left: 0;
  width: 100%;
  height: var(--#{$prefix}slider-scrollbar-drag-size);
  background: var(--#{$prefix}slider-scrollbar-drag-bg-color);
}

.slider-scrollbar-lock {
  display: none;
}

// Thumps
.slider:has(.slider-thumbs) {
  container-type: inline-size;
}

.slider-thumbs {
  position: absolute;
  top: var(--#{$prefix}slider-thumbs-top);
  right: var(--#{$prefix}slider-thumbs-right);
  bottom: var(--#{$prefix}slider-thumbs-bottom);
  left: var(--#{$prefix}slider-thumbs-left);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: var(--#{$prefix}slider-thumbs-width);

  .swiper-slide {
    width: var(--#{$prefix}slider-thumbs-slide-width);

    img {
      width: 100%;
    }
  }

  .carousel {
    padding-right: var(--#{$prefix}slider-thumbs-right);
    padding-left: var(--#{$prefix}slider-thumbs-left);
    margin-right: calc(var(--#{$prefix}slider-thumbs-right) * -1);
    margin-left: calc(var(--#{$prefix}slider-thumbs-left) * -1);
    overflow: hidden;

    .swiper {
      overflow: visible;
    }
  }

  .swiper-thumbs .swiper-slide::after {
    display: none;
  }
}

.slider-thumb {
  position: relative;
  z-index: 1;

  &-text {
    position: absolute;
    inset: 0;
    z-index: 2;
    padding: 1em;
    color: var(--#{$prefix}slider-thumb-text-color);
    background: var(--#{$prefix}slider-thumb-text-bg);
  }

  figure {
    margin-bottom: 0;
  }
}

.slider-thumbs-navigation {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;

  .slider-scrollbar {
    flex-grow: 1;
  }
}

// Wheel
.slider-with-wheel {
  overflow: hidden;

  .swiper {
    height: 100%;
  }

  .slider-wheel {
    position: absolute;
    top: 60%;
    left: calc(50% - 50vw);
    z-index: 1;
    width: 100vw;
    height: 100vw;
    color: $white;
    pointer-events: none;

    @include media-breakpoint-up(md) {
      top: 50%;
      left: 0;
      width: 50vw;
      height: 50vw;
      transform: translateX(-75%) translateY(-50%);
    }

    > * {
      transform-origin: center;
      @include transition(transform .3s);
    }
  }

  .slider-navigation {
    top: auto;
    right: auto;
    bottom: var(--#{$prefix}slider-navigation-offset-x);
    left: 50%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      top: 50%;
      right: auto;
      bottom: auto;
      left: var(--#{$prefix}slider-navigation-offset-x);
      flex-direction: column;
      transform: translateY(-50%);
    }
  }

  .slider-pagination-fraction {
    text-align: center;
  }
}
