[data-of-table-sort] {
  // scss-docs-start table-sort-css-vars
  --#{$prefix}table-sort-padding-x: #{$table-sort-padding-x};
  --#{$prefix}table-sort-bg-position: #{$table-sort-bg-position};
  --#{$prefix}table-sort-bg-size: #{$table-sort-bg-size};

  --#{$prefix}table-sort-indicator-color: #{$table-sort-indicator-color};
  --#{$prefix}table-sort-indicator-color-active: #{$table-sort-indicator-color-active};

  --#{$prefix}table-sort-indicator-default: #{escape-svg($table-sort-indicator-default)};
  --#{$prefix}table-sort-indicator-asc: #{escape-svg($table-sort-indicator-asc)};
  --#{$prefix}table-sort-indicator-desc: #{escape-svg($table-sort-indicator-desc)};
  // scss-docs-end table-sort-css-vars

  th[role="columnheader"] { // stylelint-disable-line selector-no-qualifying-type
    --#{$prefix}table-column-indicator: var(--#{$prefix}table-sort-indicator-default);

    padding-right: max($table-cell-padding-x, nth(var(--#{$prefix}table-sort-bg-size), 1) + var(--#{$prefix}table-sort-padding-x));
    cursor: pointer;
    background-image: var(--#{$prefix}table-column-indicator);
    background-repeat: no-repeat;
    background-position: var(--#{$prefix}table-sort-bg-position);
    background-size: var(--#{$prefix}table-sort-bg-size);

    &[aria-sort="ascending"] { // stylelint-disable-line selector-no-qualifying-type
      --#{$prefix}table-column-indicator: var(--#{$prefix}table-sort-indicator-asc);
    }

    &[aria-sort="descending"] { // stylelint-disable-line selector-no-qualifying-type
      --#{$prefix}table-column-indicator: var(--#{$prefix}table-sort-indicator-desc);
    }
  }
}
