// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-500: #adb5bd !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #0d6efd !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $blue !default;
// scss-docs-end theme-color-variables

// Prefix for :root CSS variables

$prefix: bs- !default;

// Responsive values
$responsive-values: (
  section-margin: (
    xs: 3rem,
    md: 4rem,
  ),
  element-margin: (
    xs: 1.5rem,
    md: 2rem,
  ),
) !default;

// Spacing
$spacer: 1rem !default;

$custom-spacers: (
  section: var(--#{$prefix}section-margin),
  element: var(--#{$prefix}element-margin),
) !default;

/* stylelint-disable function-disallowed-list */
$negative-custom-spacers: (
  n-section: calc(var(--#{$prefix}section-margin) * -1),
  n-element: calc(var(--#{$prefix}element-margin) * -1),
) !default;
/* stylelint-enable */

$utilities: (
  "of-margin-top": (
    responsive: true,
    property: margin-top,
    class: mt,
    values: $custom-spacers
  ),
  "of-margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values: $custom-spacers
  ),
  "of-nagative-margin-top": (
    responsive: true,
    property: margin-top,
    class: mt,
    values: $negative-custom-spacers
  ),
  "of-nagative-margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values: $negative-custom-spacers
  ),
) !default;
// scss-docs-end spacer-variables-maps

// Components

// stylelint-disable function-disallowed-list
// scss-docs-start aspect-ratios
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "9x16": calc(16 / 9 * 100%)
) !default;
// scss-docs-end aspect-ratios
// stylelint-enable function-disallowed-list

// Typography
$font-size-base: 1rem !default;
$font-weight-normal: 400 !default;

// Links

$link-external-icon: $ofi-link-external !default;

// Grid columns
$grid-row-columns: 12 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$icon-circle-` specific variables.
$input-btn-padding-y: .5em !default;
$input-btn-padding-x: .75em !default;

// Forms

// scss-docs-start form-datepicker-variables
$form-datepicker-indicator-padding:               $input-btn-padding-x * 3 !default; // Extra padding for background-image
$form-datepicker-bg-position:                     left $input-btn-padding-x center !default;
$form-datepicker-bg-size:                         16px 16px !default; // In pixels because image dimensions
$form-datepicker-indicator-color:             #000 !default;
$form-timepicker-indicator-color:             $form-datepicker-indicator-color !default;
$form-datepicker-indicator:                   url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-datepicker-indicator-color}' d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z'/></svg>") !default;
$form-timepicker-indicator:                   url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-timepicker-indicator-color}' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/></svg>") !default;
// scss-docs-end form-datepicker-variables

// scss-docs-start calendar-variables
$calendar-arrow-hover-color:                   #f64747 !default;
$calendar-background:                          #fff !default;
$calendar-border-color:                        #e6e6e6 !default;
$calendar-month-foreground:                    #5a6171 !default;
$calendar-month-background:                    transparent !default;
$calendar-weekdays-background:                 transparent !default;
$calendar-weekdays-foreground:                 #5a6171 !default;
$calendar-day-foreground:                      #393939 !default;
$calendar-day-hover-background:                #e6e6e6 !default;
$calendar-today-color:                         #959ea9 !default;
$calendar-selected-day-background:             #569ff7 !default;
$calendar-selected-day-color:                  #fff !default;
// scss-docs-end calendar-variables

// Buttons

// scss-docs-start btn-icon-variables
$btn-icon-gap: .35em !default;
// scss-docs-end btn-icon-variables

// Icon Circle

// scss-docs-start icon-circle-variables
$icon-circle-color:                   var(--#{$prefix}body-color) !default;
$icon-circle-padding-y:               $input-btn-padding-y !default;
$icon-circle-padding-x:               $input-btn-padding-x !default;
$icon-circle-font-size:               $font-size-base !default;

$icon-circle-padding-y-sm:            .25rem !default;
$icon-circle-padding-x-sm:            .5rem !default;
$icon-circle-font-size-sm:            $font-size-base * .875 !default;

$icon-circle-padding-y-lg:            .5rem !default;
$icon-circle-padding-x-lg:            1rem !default;
$icon-circle-font-size-lg:            $font-size-base * 1.25 !default;
// scss-docs-end icon-circle-variables

// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em !default;
$badge-font-weight:                 $font-weight-normal !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .75em !default;
$badge-padding-x:                   .75em !default;
$badge-border-radius:               var(--#{$prefix}border-radius-pill) !default;
// scss-docs-end badge-variables

// Ratings

// scss-docs-start rating-variables
$rating-icon-gap: .2em !default;
$rating-font-size: 1.5em !default;
$rating-off-color: #dee1e6 !default;
$rating-on-color: #f3c63f !default;
$rating-off-color-disabled: #edeef1 !default;
$rating-on-color-disabled: $rating-on-color !default;
$rating-font-size: 1.5rem !default;
$rating-font-size-sm: .75rem !default;
$rating-font-size-lg: 1.75rem !default;
// scss-docs-end rating-variables

// Table

// scss-docs-start table-sort-variables
$table-sort-padding-x:                  .25rem !default;
$table-sort-bg-position:                right $table-sort-padding-x center !default;
$table-sort-bg-size:                    10px 18px !default; // In pixels because image dimensions

$table-sort-indicator-color:            #ccc !default;
$table-sort-indicator-color-active:     #000 !default;

$table-sort-indicator-default:          url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 27'> <path fill='#{$table-sort-indicator-color}' d='M7.2,22.6l-4.8-5.5c-0.6-0.6-0.1-1.7,0.8-1.7h9.6c0.6,0,1,0.4,1,1c0,0.2-0.1,0.5-0.2,0.7l-4.8,5.5C8.4,23,7.7,23.1,7.2,22.6 C7.3,22.7,7.2,22.7,7.2,22.6L7.2,22.6z'/><path fill='#{$table-sort-indicator-color}' d='M8.5,4.3l4.8,5.5c0.6,0.6,0.1,1.7-0.8,1.7H3c-0.6,0-1-0.4-1-1c0-0.2,0.1-0.5,0.2-0.7L7,4.3C7.4,3.9,8,3.9,8.5,4.3 C8.5,4.3,8.5,4.3,8.5,4.3L8.5,4.3z'/></svg>") !default;
$table-sort-indicator-asc:              url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 27'> <path fill='#{$table-sort-indicator-color-active}' d='M7.2,22.6l-4.8-5.5c-0.6-0.6-0.1-1.7,0.8-1.7h9.6c0.6,0,1,0.4,1,1c0,0.2-0.1,0.5-0.2,0.7l-4.8,5.5C8.4,23,7.7,23.1,7.2,22.6 C7.3,22.7,7.2,22.7,7.2,22.6L7.2,22.6z'/><path fill='#{$table-sort-indicator-color}' d='M8.5,4.3l4.8,5.5c0.6,0.6,0.1,1.7-0.8,1.7H3c-0.6,0-1-0.4-1-1c0-0.2,0.1-0.5,0.2-0.7L7,4.3C7.4,3.9,8,3.9,8.5,4.3 C8.5,4.3,8.5,4.3,8.5,4.3L8.5,4.3z'/></svg>") !default;
$table-sort-indicator-desc:             url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 27'> <path fill='#{$table-sort-indicator-color}' d='M7.2,22.6l-4.8-5.5c-0.6-0.6-0.1-1.7,0.8-1.7h9.6c0.6,0,1,0.4,1,1c0,0.2-0.1,0.5-0.2,0.7l-4.8,5.5C8.4,23,7.7,23.1,7.2,22.6 C7.3,22.7,7.2,22.7,7.2,22.6L7.2,22.6z'/><path fill='#{$table-sort-indicator-color-active}' d='M8.5,4.3l4.8,5.5c0.6,0.6,0.1,1.7-0.8,1.7H3c-0.6,0-1-0.4-1-1c0-0.2,0.1-0.5,0.2-0.7L7,4.3C7.4,3.9,8,3.9,8.5,4.3 C8.5,4.3,8.5,4.3,8.5,4.3L8.5,4.3z'/></svg>") !default;
// scss-docs-end table-sort-variables

// Audio player

// scss-docs-start audio-player-variables
$audio-player-title-color:            null !default;
$audio-player-title-font-size:        1.15rem !default;
$audio-player-title-font-weight:      bolder !default;

$audio-player-name-color:             var(--#{$prefix}secondary-color) !default;
$audio-player-name-font-size:         .875rem !default;
$audio-player-name-font-weight:       normal !default;
// scss-docs-end audio-player-variables

// Video player
// scss-docs-start video-player-variables
$video-player-icon-size: 3rem !default;
$video-player-icon-color: $primary !default;
$video-player-icon-play: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$video-player-icon-color}'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>   <path d='M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z'/></svg>") !default;
$video-player-icon-pause: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$video-player-icon-color}'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>   <path d='M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z'/></svg>") !default;
// scss-docs-end video-player-variables

// Card
// scss-docs-start card-variables
$card-info-color: var(--#{$prefix}secondary-color) !default;
$card-info-font-size: .8rem !default;
$card-info-spacer-y: $spacer * .5 !default;
$card-action-button-gap: .25rem !default;
$card-tags-spacer-y: $spacer * .75 !default;
$card-title-link-color: null !default;
$card-title-link-decoration: null !default;
$card-title-link-hover-color: null !default;
$card-title-link-hover-decoration: null !default;
$card-horizontal-media-width: 225px !default;
$card-mini-media-width: 125px !default;
// scss-docs-end card-variables

// Price
// scss-docs-start price-variables
$price-row-gap: .125rem !default;
$price-label-color: $primary !default;
$price-label-font-size: .7em !default;
$price-value-color: null !default;
$price-value-font-size: 1.25rem !default;
$price-value-font-weight: 700 !default;
// scss-docs-end price-variables

// Date box
// scss-docs-start date-box-variables
$date-box-row-gap: .125rem !default;
$date-box-bg: #fff !default;
$date-box-padding-x: 1rem !default;
$date-box-padding-y: .75rem !default;
$date-box-padding-day-color: $primary !default;
$date-box-padding-day-font-size: 1.5rem !default;
$date-box-padding-month-color: $primary !default;
$date-box-padding-month-font-size: 1rem !default;
// scss-docs-end date-box-variables

// State
// scss-docs-start state-variables
$state-bg: #fff !default;
$state-gap: .5em !default;
$state-font-size: .75em !default;
$state-font-weight: 700 !default;
$state-color: #000 !default;
$state-padding-y: .35em !default;
$state-padding-x: .65em !default;
$state-border-radius: var(--#{$prefix}border-radius) !default;
$state-statuses: (
  "open": #2ed05d,
  "unknown": #ebbe5b,
  "closed": #e55f60,
) !default;
$state-icon-color: #fff !default;
$state-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$state-icon-color}' d='M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/></svg>") !default;
// scss-docs-end state-variables

// Rating
// scss-docs-start user-rating
$user-rating-gap: .25em !default;
$user-rating-color: null !default;
$user-rating-font-weight: 700 !default;
$user-rating-icon-font-size: 1.25em !default;
// scss-docs-end user-rating

// Tag

// scss-docs-start tag-list-variables
$tag-list-gap-x: .5em !default;
$tag-list-gap-y: .5em !default;
// scss-docs-end tag-list-variables

// scss-docs-start tag-variables
$tag-font-size: .875em !default;
$tag-font-weight: null !default;
$tag-color: var(--#{$prefix}dark) !default;
$tag-bg: var(--#{$prefix}gray-100) !default;
$tag-padding-y: .35em !default;
$tag-padding-x: .65em !default;
$tag-border-radius: var(--#{$prefix}border-radius) !default;
$tag-icon-font-size: 1.5em !default;
$tag-icon-space-x: .1em !default;
// scss-docs-end tag-variables

// Labels
// scss-docs-start labels-variables
$labels-gap: .25rem !default;
$labels-padding: .25rem !default;
$labels-bg: var(--#{$prefix}body-bg) !default;
$labels-border-width: var(--#{$prefix}border-width) !default;
$labels-border-color: var(--#{$prefix}border-color) !default;
$labels-border-radius: var(--#{$prefix}border-radius) !default;
$labels-box-shadow: var(--#{$prefix}box-shadow-sm) !default;

$labels-item-padding: null !default;
$labels-item-bg: var(--#{$prefix}gray-100) !default;
$labels-item-border-style: null !default;
$labels-item-border-width: null !default;
$labels-item-border-color: null !default;
$labels-item-border-radius: var(--#{$prefix}border-radius) !default;
$labels-item-box-shadow: null !default;
$labels-item-width: 36px !default;
$labels-item-height: 36px !default;

$labels-label-padding: .5rem !default;
$labels-label-font-size: 1rem !default;
$labels-label-font-weight: 700 !default;
$labels-label-color: null !default;
$labels-label-text-decoration: underline !default;
// scss-docs-end labels-variables

// Opening times
// scss-docs-start opening-times-variables
$opening-times-align:          "middle" !default;
$opening-times-padding-x:      1rem !default;
$opening-times-padding-y-head: 1rem !default;
$opening-times-padding-y-body: .5rem !default;
$opening-times-border-width:   var(--#{$prefix}border-width) !default;
$opening-times-border-color:   var(--#{$prefix}border-color) !default;
// scss-docs-end opening-times-variables

// Search
// scss-docs-start search-result-variables
$search-result-border-width:  var(--#{$prefix}border-width) !default;
$search-result-border-color:  var(--#{$prefix}border-color-translucent) !default;
$search-result-border-radius: var(--#{$prefix}border-radius) !default;
$search-result-image-ratio:   #{calc(16 / 9)} !default;
$search-result-image-width:   25% !default;
$search-result-padding-x:     1rem !default;
$search-result-padding-y:     1rem !default;
$search-result-url-font-size: .85rem !default;
// scss-docs-end search-result-variables

// Ticker
// scss-docs-start ticker-variables
$ticker-bg-color:                          var(--bs-danger) !default;
$ticker-color:                             #fff !default;
$ticker-color-hover:                       inherit !default;
$ticker-font-size:                         1rem !default;
$ticker-height:                            3.5rem !default;
$ticker-icon-spacing:                      1rem !default;
$ticker-item-padding:                      3rem !default;
$ticker-item-justify-content:              center !default;
$ticker-text-decoration:                   none !default;
$ticker-text-decoration-hover:             underline !default;
$ticker-z-index:                           10 !default;
// scss-docs-end ticker-variables

// Logos
// scss-docs-start logos-variables
$logos-gap: 1rem !default;
$logos-margin-bottom: 1rem !default;
$logos-item-max-width: null !default;
$logos-item-max-height: null !default;
$logos-item-bg: null !default;
$logos-item-padding-y: null !default;
$logos-item-padding-x: null !default;
$logos-item-border-style: null !default;
$logos-item-border-width: null !default;
$logos-item-border-color: null !default;
$logos-item-border-radius: null !default;
// scss-docs-end logos-variables

// Wrapper
// scss-docs-start wrapper-variables
$wrapper-padding-y: 1.5rem !default;
$wrapper-padding-y-lg: 2.5rem !default;
$wrapper-padding-y-xl: 5.5rem !default;
$wrapper-padding-x: 1.5rem !default;
$wrapper-padding-x-lg: 2.5rem !default;
$wrapper-padding-x-xl: 4.5rem !default;
$wrapper-color: #fff !default;
$wrapper-bg-color: null !default;
$wrapper-bg-color-light: #f8f9fa !default;
$wrapper-bg-color-dark: #212529 !default;
$wrapper-z-index: 1 !default;
$wrapper-media-opacity: null !default;
$wrapper-media-zoom-transition: all .5s ease-in-out !default;
$wrapper-text-shadow: 2px 3px 5px rgba(0, 0, 0, .5) !default;
$wrapper-font-size: 1.2rem !default;
$wrapper-zoom-transform: scale(1.1) !default;
$wrapper-content-top-right-y: 10px !default;
$wrapper-content-top-right-x: $wrapper-content-top-right-y !default;
// scss-docs-end wrapper-variables

// Social links
// scss-docs-start social-links-variable
$social-links-gap: .5rem !default;
$social-link-bg: $primary !default;
$social-link-color: #fff !default;
$social-link-border-style: null !default;
$social-link-border-width: null !default;
$social-link-border-color: null !default;
$social-link-border-radius: 50% !default;
$social-link-font-size: 1rem !default;
$social-link-width: 2em !default;
$social-link-height: $social-link-width !default;
$social-link-hover-bg: mix(#000, $social-link-bg, 15%) !default;
$social-link-hover-color: #fff !default;
$social-link-hover-border-color: null !default;
$social-link-transition:  color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
// scss-docs-end social-links-variables

// Icon box
// scss-docs-start icon-box-variables
$icon-box-gap:              .5rem !default;
$icon-box-margin-bottom:    1rem !default;
$icon-box-icon-color:       $primary !default;
$icon-box-icon-font-size:   null !default;
// scss-docs-end icon-box-variables

// Masonry
// scss-docs-start masonry-variables
$masonry-gap: 5px !default;
$masonry-breakpoint: md !default;
$masonry-group-breakpoint: xl !default;
// scss-docs-end masonry-variables

// Combo box
// scss-docs-start combo-box-variables
$combo-box-padding-x:                1rem !default;
$combo-box-padding-y:                .5rem !default;
$combo-box-color:                    var(--#{$prefix}body-color) !default;
$combo-box-bg:                       var(--#{$prefix}body-bg) !default;
$combo-box-border-color:             var(--#{$prefix}border-color-translucent) !default;
$combo-box-border-radius:            var(--#{$prefix}border-radius) !default;
$combo-box-border-width:             var(--#{$prefix}border-width) !default;
$combo-box-row-gap:                  1.5rem !default;
$combo-box-label-min-width:          7em !default;
$combo-box-field-width:              9em !default;
$combo-box-divider-bg:               $combo-box-border-color !default;
$combo-box-divider-margin-y:         $spacer * .5 !default;
$combo-box-divider-height:           1px !default;
$combo-box-divider-style:            solid !default;
// scss-docs-end combo-box-variables

// Carousel
// scss-docs-start carousel-variables
$carousel-theme-color:                              $primary !default;
$carousel-offset-x:                                 12px !default;
$carousel-offset-y:                                 12px !default;
$carousel-pagination-left:                          $carousel-offset-x !default;
$carousel-pagination-right:                         $carousel-offset-x !default;
$carousel-pagination-bottom:                        $carousel-offset-y !default;
$carousel-pagination-top:                           $carousel-offset-y !default;
$carousel-pagination-bullet-size:                   8px !default;
$carousel-pagination-bullet-width:                  $carousel-pagination-bullet-size !default;
$carousel-pagination-bullet-height:                 $carousel-pagination-bullet-size !default;
$carousel-pagination-bullet-border-radius:          50% !default;
$carousel-pagination-bullet-inactive-color:         #000 !default;
$carousel-pagination-bullet-inactive-opacity:       .2 !default;
$carousel-pagination-bullet-opacity:                1 !default;
$carousel-pagination-bullet-horizontal-gap:         4px !default;
$carousel-pagination-bullet-vertical-gap:           6px !default;
// scss-docs-end carousel-variables

// Slider
// scss-docs-start slider-variables
$slider-theme-color:                              $primary !default;
$slider-offset-x:                                 12px !default;
$slider-offset-y:                                 12px !default;
$slider-pagination-left:                          $slider-offset-x !default;
$slider-pagination-right:                         $slider-offset-x !default;
$slider-pagination-bottom:                        $slider-offset-y !default;
$slider-pagination-top:                           $slider-offset-y !default;
$slider-pagination-bullet-size:                   8px !default;
$slider-pagination-bullet-width:                  $slider-pagination-bullet-size !default;
$slider-pagination-bullet-height:                 $slider-pagination-bullet-size !default;
$slider-pagination-bullet-border-radius:          50% !default;
$slider-pagination-bullet-inactive-color:         #000 !default;
$slider-pagination-bullet-inactive-opacity:       .2 !default;
$slider-pagination-bullet-opacity:                1 !default;
$slider-pagination-bullet-horizontal-gap:         4px !default;
$slider-pagination-bullet-vertical-gap:           6px !default;
$slider-navigation-offset-x:                      $slider-offset-x !default;
// scss-docs-end slider-variables

// Heading
$headings-action-margin-bottom: 1rem !default;

// Map marker
// scss-docs-start map-marker-variables
$map-marker-font-size:                14px !default;
$map-marker-font-family:              var(--#{$prefix}body-font-family) !default;
$map-marker-font-weight:              var(--#{$prefix}body-font-weight) !default;
$map-marker-line-height:              var(--#{$prefix}body-line-height) !default;
$map-marker-color:                    var(--#{$prefix}gray-900) !default;
$map-marker-title-font-size:          1.4em !default;
$map-marker-title-color:              null !default;
$map-marker-title-margin-bottom:      .5em !default;
$map-marker-info-color:               var(--#{$prefix}gray-600) !default;
$map-marker-info-margin-bottom:       .15em !default;
$map-marker-link-color:               $primary !default;
$map-marker-image-max-width:          null !default;
// scss-docs-end map-marker-variables
