// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// scss-docs-start gray-color-variables
$white: #fff !default;
$gray-500: #adb5bd !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #0d6efd !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary: $blue !default;
// scss-docs-end theme-color-variables

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-print-styles: true !default;

// Prefix for :root CSS variables

$prefix: bs- !default;

// Responsive values
$responsive-values: (
  section-margin: (
    xs: 3rem,
    md: 4rem,
  ),
  element-margin: (
    xs: 1.5rem,
    md: 2rem,
  ),
) !default;

// Spacing
// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: var(--#{$prefix}spacer-1, $spacer * .25),
  2: var(--#{$prefix}spacer-2, $spacer * .5),
  3: var(--#{$prefix}spacer-3, $spacer),
  4: var(--#{$prefix}spacer-4, $spacer * 1.5),
  5: var(--#{$prefix}spacer-5, $spacer * 3),
) !default;
// scss-docs-end spacer-variables-maps

// Components

// scss-docs-start aspect-ratios
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "3x4": calc(4 / 3 * 100%),
  "9x16": calc(16 / 9 * 100%)
) !default;
// scss-docs-end aspect-ratios

// Typography
$font-size-base: 1rem !default;
$font-weight-normal: 400 !default;

// Links
$link-external-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5'/><path d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z'/></svg>") !default;

// Grid columns
$grid-row-columns: 12 !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$icon-circle-` specific variables.
$input-btn-padding-y: .5em !default;
$input-btn-padding-x: .75em !default;

// Forms

// scss-docs-start form-datepicker-variables
$form-datepicker-indicator-padding:           $input-btn-padding-x * 3 !default; // Extra padding for background-image
$form-datepicker-bg-position:                 left $input-btn-padding-x center !default;
$form-datepicker-bg-size:                     16px 16px !default; // In pixels because image dimensions
$form-datepicker-indicator-color:             #000 !default;
$form-timepicker-indicator-color:             $form-datepicker-indicator-color !default;
$form-datepicker-indicator:                   url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-datepicker-indicator-color}' d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z'/></svg>") !default;
$form-timepicker-indicator:                   url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-timepicker-indicator-color}' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/></svg>") !default;
// scss-docs-end form-datepicker-variables

// scss-docs-start calendarpicker-variables
$calendarpicker-arrow-hover-color:                   $primary !default;
$calendarpicker-background:                          var(--#{$prefix}body-bg) !default;
$calendarpicker-border-color:                        var(--#{$prefix}border-color-translucent) !default;
$calendarpicker-month-foreground:                    var(--#{$prefix}body-color) !default;
$calendarpicker-month-background:                    transparent !default;
$calendarpicker-weekdays-background:                 transparent !default;
$calendarpicker-weekdays-foreground:                 var(--#{$prefix}body-color) !default;
$calendarpicker-day-foreground:                      var(--#{$prefix}body-color) !default;
$calendarpicker-day-hover-background:                var(--#{$prefix}primary) !default;
$calendarpicker-day-hover-color:                     $white !default;
$calendarpicker-today-color:                         var(--#{$prefix}gray-500) !default;
$calendarpicker-selected-day-background:             var(--#{$prefix}primary) !default;
$calendarpicker-selected-day-color:                  $white !default;
$calendarpicker-disabled-color:                      var(--#{$prefix}gray-500) !default;
$calendarpicker-time-hover:                          rgba(0, 0, 0, .05) !default;
// scss-docs-end calendarpicker-variables

// scss-docs-start form-range-variables
$form-range-thumb-disabled-bg: var(--#{$prefix}gray-600);
// scss-docs-end form-range-variables

// Buttons

// scss-docs-start btn-icon-variables
$btn-icon-gap: .35em !default;
// scss-docs-end btn-icon-variables

// Icon Circle

// scss-docs-start icon-circle-variables
$icon-circle-color:                   var(--#{$prefix}body-color) !default;
$icon-circle-padding-y:               $input-btn-padding-y !default;
$icon-circle-padding-x:               $input-btn-padding-x !default;
$icon-circle-font-size:               $font-size-base !default;

$icon-circle-padding-y-sm:            .25rem !default;
$icon-circle-padding-x-sm:            .5rem !default;
$icon-circle-font-size-sm:            $font-size-base * .875 !default;

$icon-circle-padding-y-lg:            .5rem !default;
$icon-circle-padding-x-lg:            1rem !default;
$icon-circle-font-size-lg:            $font-size-base * 1.25 !default;
// scss-docs-end icon-circle-variables

// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em !default;
$badge-font-weight:                 $font-weight-normal !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .75em !default;
$badge-padding-x:                   .75em !default;
$badge-border-radius:               var(--#{$prefix}border-radius-pill) !default;
// scss-docs-end badge-variables

// Ratings

// scss-docs-start rating-variables
$rating-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z'/></svg>") !default;
$rating-icon-gap: .2em !default;
$rating-font-size: 1.5em !default;
$rating-off-color: #dee1e6 !default;
$rating-on-color: #f3c63f !default;
$rating-off-color-disabled: #edeef1 !default;
$rating-on-color-disabled: $rating-on-color !default;
$rating-font-size: 1.5rem !default;
$rating-font-size-sm: .75rem !default;
$rating-font-size-lg: 1.75rem !default;
// scss-docs-end rating-variables

// Table

// scss-docs-start table-sort-variables
$table-sort-padding-x:                  .25rem !default;
$table-sort-bg-position:                right $table-sort-padding-x center !default;
$table-sort-bg-size:                    10px 18px !default; // In pixels because image dimensions

$table-sort-indicator-color:            #ccc !default;
$table-sort-indicator-color-active:     #000 !default;

$table-sort-indicator-default:          url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 27'> <path fill='#{$table-sort-indicator-color}' d='M7.2,22.6l-4.8-5.5c-0.6-0.6-0.1-1.7,0.8-1.7h9.6c0.6,0,1,0.4,1,1c0,0.2-0.1,0.5-0.2,0.7l-4.8,5.5C8.4,23,7.7,23.1,7.2,22.6 C7.3,22.7,7.2,22.7,7.2,22.6L7.2,22.6z'/><path fill='#{$table-sort-indicator-color}' d='M8.5,4.3l4.8,5.5c0.6,0.6,0.1,1.7-0.8,1.7H3c-0.6,0-1-0.4-1-1c0-0.2,0.1-0.5,0.2-0.7L7,4.3C7.4,3.9,8,3.9,8.5,4.3 C8.5,4.3,8.5,4.3,8.5,4.3L8.5,4.3z'/></svg>") !default;
$table-sort-indicator-asc:              url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 27'> <path fill='#{$table-sort-indicator-color-active}' d='M7.2,22.6l-4.8-5.5c-0.6-0.6-0.1-1.7,0.8-1.7h9.6c0.6,0,1,0.4,1,1c0,0.2-0.1,0.5-0.2,0.7l-4.8,5.5C8.4,23,7.7,23.1,7.2,22.6 C7.3,22.7,7.2,22.7,7.2,22.6L7.2,22.6z'/><path fill='#{$table-sort-indicator-color}' d='M8.5,4.3l4.8,5.5c0.6,0.6,0.1,1.7-0.8,1.7H3c-0.6,0-1-0.4-1-1c0-0.2,0.1-0.5,0.2-0.7L7,4.3C7.4,3.9,8,3.9,8.5,4.3 C8.5,4.3,8.5,4.3,8.5,4.3L8.5,4.3z'/></svg>") !default;
$table-sort-indicator-desc:             url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 27'> <path fill='#{$table-sort-indicator-color}' d='M7.2,22.6l-4.8-5.5c-0.6-0.6-0.1-1.7,0.8-1.7h9.6c0.6,0,1,0.4,1,1c0,0.2-0.1,0.5-0.2,0.7l-4.8,5.5C8.4,23,7.7,23.1,7.2,22.6 C7.3,22.7,7.2,22.7,7.2,22.6L7.2,22.6z'/><path fill='#{$table-sort-indicator-color-active}' d='M8.5,4.3l4.8,5.5c0.6,0.6,0.1,1.7-0.8,1.7H3c-0.6,0-1-0.4-1-1c0-0.2,0.1-0.5,0.2-0.7L7,4.3C7.4,3.9,8,3.9,8.5,4.3 C8.5,4.3,8.5,4.3,8.5,4.3L8.5,4.3z'/></svg>") !default;
// scss-docs-end table-sort-variables

// Audio player

// scss-docs-start audio-player-variables
$audio-player-title-color:            null !default;
$audio-player-title-font-size:        1.15rem !default;
$audio-player-title-font-weight:      bolder !default;

$audio-player-name-color:             var(--#{$prefix}secondary-color) !default;
$audio-player-name-font-size:         .875rem !default;
$audio-player-name-font-weight:       normal !default;
// scss-docs-end audio-player-variables

// Video player
// scss-docs-start video-player-variables
$video-player-icon-size: 3rem !default;
$video-player-icon-color: $primary !default;
$video-player-icon-play: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$video-player-icon-color}'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>   <path d='M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z'/></svg>") !default;
$video-player-icon-pause: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$video-player-icon-color}'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>   <path d='M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z'/></svg>") !default;
// scss-docs-end video-player-variables

// Card
// scss-docs-start card-variables
$card-cap-bg: transparent !default;
$card-info-color: var(--#{$prefix}secondary-color) !default;
$card-info-font-size: .8rem !default;
$card-info-spacer-y: $spacer * .5 !default;
$card-action-button-gap: .25rem !default;
$card-tags-spacer-y: $spacer * .75 !default;
$card-title-link-color: null !default;
$card-title-link-decoration: null !default;
$card-title-link-hover-color: null !default;
$card-title-link-hover-decoration: null !default;
$card-horizontal-media-width: 225px !default;
$card-mini-media-width: 125px !default;
$card-media-zoom-transition: all .5s ease-in-out !default;
$card-media-zoom-transform: scale(1.1) !default;
// scss-docs-end card-variables

// Price
// scss-docs-start price-variables
$price-row-gap: .125rem !default;
$price-label-color: $primary !default;
$price-label-font-size: .7em !default;
$price-value-color: null !default;
$price-value-font-size: 1.25rem !default;
$price-value-font-weight: 700 !default;
// scss-docs-end price-variables

// Date box
// scss-docs-start date-box-variables
$date-box-row-gap: .125rem !default;
$date-box-bg: #fff !default;
$date-box-padding-x: 1rem !default;
$date-box-padding-y: .75rem !default;
$date-box-padding-day-color: $primary !default;
$date-box-padding-day-font-size: 1.5rem !default;
$date-box-padding-month-color: $primary !default;
$date-box-padding-month-font-size: 1rem !default;
// scss-docs-end date-box-variables

// State
// scss-docs-start state-variables
$state-bg: #fff !default;
$state-gap: .5em !default;
$state-font-size: .75em !default;
$state-font-weight: 700 !default;
$state-color: #000 !default;
$state-padding-y: .35em !default;
$state-padding-x: .65em !default;
$state-border-radius: var(--#{$prefix}border-radius) !default;
$state-statuses: (
  "open": #2ed05d,
  "unknown": #ebbe5b,
  "closed": #e55f60,
) !default;
$state-icon-color: #fff !default;
$state-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#fff' d='M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/></svg>") !default;
// scss-docs-end state-variables

// Rating
// scss-docs-start user-rating
$user-rating-gap: .25em !default;
$user-rating-color: null !default;
$user-rating-font-weight: 700 !default;
$user-rating-icon-font-size: 1.25em !default;
// scss-docs-end user-rating

// Tag

// scss-docs-start tag-list-variables
$tag-list-gap-x: .5em !default;
$tag-list-gap-y: .5em !default;
// scss-docs-end tag-list-variables

// scss-docs-start tag-variables
$tag-font-size: .875em !default;
$tag-font-weight: null !default;
$tag-color: var(--#{$prefix}dark) !default;
$tag-bg: var(--#{$prefix}gray-100) !default;
$tag-padding-y: .35em !default;
$tag-padding-x: .65em !default;
$tag-border-radius: var(--#{$prefix}border-radius) !default;
$tag-icon-font-size: 1.5em !default;
$tag-icon-space-x: .1em !default;
// scss-docs-end tag-variables

// Labels
// scss-docs-start labels-variables
$labels-gap: .25rem !default;
$labels-padding: .25rem !default;
$labels-bg: var(--#{$prefix}body-bg) !default;
$labels-border-width: var(--#{$prefix}border-width) !default;
$labels-border-color: var(--#{$prefix}border-color) !default;
$labels-border-radius: var(--#{$prefix}border-radius) !default;
$labels-box-shadow: var(--#{$prefix}box-shadow-sm) !default;

$labels-item-padding: null !default;
$labels-item-bg: var(--#{$prefix}gray-100) !default;
$labels-item-border-style: null !default;
$labels-item-border-width: null !default;
$labels-item-border-color: null !default;
$labels-item-border-radius: var(--#{$prefix}border-radius) !default;
$labels-item-box-shadow: null !default;
$labels-item-width: 36px !default;
$labels-item-height: 36px !default;

$labels-label-padding: .5rem !default;
$labels-label-font-size: 1rem !default;
$labels-label-font-weight: 700 !default;
$labels-label-color: null !default;
$labels-label-text-decoration: underline !default;
// scss-docs-end labels-variables

// Opening times
// scss-docs-start opening-times-variables
$opening-times-align:          "middle" !default;
$opening-times-padding-x:      1rem !default;
$opening-times-padding-y-head: 1rem !default;
$opening-times-padding-y-body: .5rem !default;
$opening-times-border-width:   var(--#{$prefix}border-width) !default;
$opening-times-border-color:   var(--#{$prefix}border-color) !default;
// scss-docs-end opening-times-variables

// Search
// scss-docs-start search-result-variables
$search-result-border-width:  var(--#{$prefix}border-width) !default;
$search-result-border-color:  var(--#{$prefix}border-color-translucent) !default;
$search-result-border-radius: var(--#{$prefix}border-radius) !default;
$search-result-image-ratio:   #{calc(16 / 9)} !default;
$search-result-image-width:   25% !default;
$search-result-padding-x:     1rem !default;
$search-result-padding-y:     1rem !default;
$search-result-url-font-size: .85rem !default;
// scss-docs-end search-result-variables

// Ticker
// scss-docs-start ticker-variables
$ticker-bg-color:                          var(--#{$prefix}danger) !default;
$ticker-color:                             #fff !default;
$ticker-color-hover:                       inherit !default;
$ticker-font-size:                         1rem !default;
$ticker-height:                            3.5rem !default;
$ticker-icon-spacing:                      1rem !default;
$ticker-item-padding:                      3rem !default;
$ticker-item-justify-content:              center !default;
$ticker-text-decoration:                   none !default;
$ticker-text-decoration-hover:             underline !default;
$ticker-z-index:                           10 !default;
// scss-docs-end ticker-variables

// Logos
// scss-docs-start logos-variables
$logos-gap: 1rem !default;
$logos-margin-bottom: 1rem !default;
$logos-item-max-width: null !default;
$logos-item-max-height: null !default;
$logos-item-bg: null !default;
$logos-item-padding-y: null !default;
$logos-item-padding-x: null !default;
$logos-item-border-style: null !default;
$logos-item-border-width: null !default;
$logos-item-border-color: null !default;
$logos-item-border-radius: null !default;
// scss-docs-end logos-variables

// Wrapper
// scss-docs-start wrapper-variables
$wrapper-color: var(--#{$prefix}body-color) !default;
$wrapper-bg-color: null !default;
$wrapper-bg-color-light: #f8f9fa !default;
$wrapper-bg-color-dark: #212529 !default;
$wrapper-z-index: 1 !default;
$wrapper-media-overlay: #000 !default;
$wrapper-media-overlay-opacity: .4 !default;
$wrapper-media-zoom-transition: all .5s ease-in-out !default;
$wrapper-text-shadow: 2px 3px 5px rgba(0, 0, 0, .5) !default;
$wrapper-font-size: null !default;
$wrapper-line-height: var(--#{$prefix}body-line-height) !default;
$wrapper-zoom-transform: scale(1.1) !default;
$wrapper-content-top-right-y: 10px !default;
$wrapper-content-top-right-x: $wrapper-content-top-right-y !default;
$wrapper-padding-y: 5rem !default;
$wrapper-padding-x: 1.5rem !default;
// scss-docs-end wrapper-variables

// Social links
// scss-docs-start social-links-variable
$social-links-gap: .5rem !default;
$social-links-gap-lg: 1.5rem !default;
$social-link-icon-bg: $primary !default;
$social-link-icon-color: #fff !default;
$social-link-icon-border-style: null !default;
$social-link-icon-border-width: null !default;
$social-link-icon-border-color: null !default;
$social-link-icon-border-radius: 50% !default;
$social-link-icon-font-size: 1rem !default;
$social-link-icon-font-size-lg: 1.5rem !default;
$social-link-icon-width: 2em !default;
$social-link-icon-width-lg: 2em !default;
$social-link-icon-height: $social-link-icon-width !default;
$social-link-icon-height-lg: $social-link-icon-width-lg !default;
$social-link-icon-hover-bg: mix(#000, $social-link-icon-bg, 15%) !default;
$social-link-icon-hover-color: #fff !default;
$social-link-icon-hover-border-color: null !default;
$social-link-icon-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$social-link-label-color: var(--#{$prefix}body-color) !default;
$social-link-label-hover-color: var(--#{$prefix}body-color) !default;
$social-link-label-font-size: var(--#{$prefix}body-font-size) !default;
$social-link-label-transition: color .15s ease-in-out !default;
// scss-docs-end social-links-variables

// Icon box
// scss-docs-start icon-box-variables
$icon-box-gap:              .5rem !default;
$icon-box-margin-bottom:    1rem !default;
$icon-box-icon-color:       $primary !default;
$icon-box-icon-font-size:   null !default;
// scss-docs-end icon-box-variables

// Masonry
// scss-docs-start masonry-variables
$masonry-gap: 5px !default;
$masonry-breakpoint: md !default;
$masonry-group-breakpoint: xl !default;
// scss-docs-end masonry-variables

// Combo box
// scss-docs-start combo-box-variables
$combo-box-padding-x:                1rem !default;
$combo-box-padding-y:                .5rem !default;
$combo-box-color:                    var(--#{$prefix}body-color) !default;
$combo-box-bg:                       var(--#{$prefix}body-bg) !default;
$combo-box-border-color:             var(--#{$prefix}border-color-translucent) !default;
$combo-box-border-radius:            var(--#{$prefix}border-radius) !default;
$combo-box-border-width:             var(--#{$prefix}border-width) !default;
$combo-box-row-gap:                  1.5rem !default;
$combo-box-label-min-width:          7em !default;
$combo-box-field-width:              9em !default;
$combo-box-divider-bg:               $combo-box-border-color !default;
$combo-box-divider-margin-y:         $spacer * .5 !default;
$combo-box-divider-height:           1px !default;
$combo-box-divider-style:            solid !default;
// scss-docs-end combo-box-variables

// Carousel
// scss-docs-start carousel-variables
$carousel-theme-color:                              $primary !default;
$carousel-offset-x:                                 12px !default;
$carousel-offset-y:                                 12px !default;
$carousel-pagination-left:                          $carousel-offset-x !default;
$carousel-pagination-right:                         $carousel-offset-x !default;
$carousel-pagination-bottom:                        $carousel-offset-y !default;
$carousel-pagination-top:                           $carousel-offset-y !default;
$carousel-pagination-bullet-size:                   8px !default;
$carousel-pagination-bullet-width:                  $carousel-pagination-bullet-size !default;
$carousel-pagination-bullet-height:                 $carousel-pagination-bullet-size !default;
$carousel-pagination-bullet-border-radius:          50% !default;
$carousel-pagination-bullet-inactive-color:         #000 !default;
$carousel-pagination-bullet-inactive-opacity:       .2 !default;
$carousel-pagination-bullet-opacity:                1 !default;
$carousel-pagination-bullet-horizontal-gap:         4px !default;
$carousel-pagination-bullet-vertical-gap:           6px !default;
$carousel-navigation-center-padding-x:              3.5rem !default;
$carousel-navigation-center-inside-offset-x:        12px !default;
$carousel-thumbnail-active-border-color: $primary !default;
$carousel-thumbnail-active-border-width: 2px !default;
// scss-docs-end carousel-variables

// Slider
// scss-docs-start slider-variables
$slider-theme-color:                              $primary !default;
$slider-offset-x:                                 12px !default;
$slider-offset-y:                                 12px !default;
$slider-pagination-left:                          $slider-offset-x !default;
$slider-pagination-right:                         $slider-offset-x !default;
$slider-pagination-bottom:                        $slider-offset-y !default;
$slider-pagination-top:                           $slider-offset-y !default;
$slider-pagination-bullet-size:                   8px !default;
$slider-pagination-bullet-width:                  $slider-pagination-bullet-size !default;
$slider-pagination-bullet-height:                 $slider-pagination-bullet-size !default;
$slider-pagination-bullet-border-radius:          50% !default;
$slider-pagination-bullet-inactive-color:         #000 !default;
$slider-pagination-bullet-inactive-opacity:       .2 !default;
$slider-pagination-bullet-opacity:                1 !default;
$slider-pagination-bullet-horizontal-gap:         4px !default;
$slider-pagination-bullet-vertical-gap:           6px !default;
$slider-navigation-offset-x:                      $slider-offset-x !default;
// scss-docs-end slider-variables

// Heading
$headings-action-margin-bottom: 1rem !default;

// Popover content
// scss-docs-start popover-content-variables
$popover-content-font-size:                14px !default;
$popover-content-font-family:              var(--#{$prefix}body-font-family) !default;
$popover-content-font-weight:              var(--#{$prefix}body-font-weight) !default;
$popover-content-line-height:              var(--#{$prefix}body-line-height) !default;
$popover-content-color:                    var(--#{$prefix}body-color) !default;
$popover-content-title-font-size:          1.4em !default;
$popover-content-title-color:              null !default;
$popover-content-title-margin-bottom:      .5em !default;
$popover-content-info-color:               var(--#{$prefix}secondary-color) !default;
$popover-content-info-margin-bottom:       .15em !default;
$popover-content-image-margin-bottom:      1rem !default;
$popover-content-image-max-width:          null !default;
// scss-docs-end popover-content-variables

// Calendar
// scss-docs-start calendar-variables
$calendar-border-color:                   var(--#{$prefix}border-color-translucent) !default;
$calendar-border-width:                   var(--#{$prefix}border-width) !default;
$calendar-day-other-bg-color:             rgba(0, 0, 0, .05) !default;
$calendar-day-other-color:                var(--#{$prefix}gray-500) !default;
$calendar-event-bg-color:                 var(--#{$prefix}primary) !default;
$calendar-event-border-color:             var(--#{$prefix}primary) !default;
$calendar-list-event-hover-bg-color:      var(--#{$prefix}gray-100) !default;
$calendar-table-color:                    var(--#{$prefix}body-color) !default;
$calendar-table-bg:                       var(--#{$prefix}body-bg) !default;
$calendar-table-cell-shaded:              var(--#{$prefix}gray-200) !default;
$calendar-today-bg-color:                 var(--#{$prefix}warning-bg-subtle) !default;
$calendar-mini-event-bg-color:            var(--#{$prefix}primary) !default;
$calendar-mini-event-color:               $white !default;
$calendar-legend-gap:                     1rem !default;
$calendar-legend-font-size:               .9rem !default;
$calendar-legend-symbol-gap:              .5em !default;
$calendar-legend-symbol-size:             1.25em !default;
$calendar-legend-symbol-padding:          .25rem !default;
$calendar-legend-symbol-border-width:     var(--#{$prefix}border-width) !default;
$calendar-legend-symbol-border-color:     var(--#{$prefix}border-color) !default;
$calendar-legend-event-color:             var(--#{$prefix}calendar-mini-event-bg-color) !default;
$calendar-legend-free-color:              transparent !default;
$calendar-icon-prev:                      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/></svg>") !default;
$calendar-icon-next:                      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !default;
$calendar-icon-prev-year:                 url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z'/></svg>") !default;
$calendar-icon-next-year:                 url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z'/></svg>") !default;
$calendar-icon-grid:                      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z'/></svg>") !default;
$calendar-icon-list:                      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path d='M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5'/></svg>") !default;

// scss-docs-end calendar-variables

// Header
// scss-docs-start header-variables
$header-zindex:                              1030 !default;
$header-padding-y:                           $spacer * 1 !default;
$header-padding-y:                           $spacer * 1 !default;
$header-padding-x:                           null !default;
$header-brand-font-size:                     1.25rem !default;
$header-content-gap:                         1.5rem !default;
$header-nav-link-padding-x:                  0 !default;
$header-nav-link-padding-y:                  0 !default;
$header-nav-link-font-size:                  null !default;
$header-nav-link-font-weight:                null !default;
$header-nav-link-color:                      var(--#{$prefix}header-color) !default;
$header-nav-link-decoration:                 null !default;
$header-nav-link-hover-color:                var(--#{$prefix}link-hover-color) !default;
$header-nav-link-active-color:               var(--#{$prefix}header-active-color) !default;
$header-nav-link-hover-decoration:           underline !default;
$header-nav-link-disabled-color:             var(--#{$prefix}header-disabled-color) !default;
$header-nav-link-transition:                 color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$header-nav-link-icon-font-size:             1.5em !default;
$header-nav-link-icon-margin-bottom:         .25rem !default;
$header-nav-link-icon-margin-right:          .75rem !default;
$header-nav-link-badge-font-size:            .4em !default;
$header-nav-link-badge-width:                2.25em !default;
$header-light-background-color:              var(--#{$prefix}body-bg) !default;
$header-light-color:                         rgba(var(--#{$prefix}emphasis-color-rgb), .65) !default;
$header-light-hover-color:                   rgba(var(--#{$prefix}emphasis-color-rgb), .8) !default;
$header-light-active-color:                  rgba(var(--#{$prefix}emphasis-color-rgb), 1) !default;
$header-light-disabled-color:                rgba(var(--#{$prefix}emphasis-color-rgb), .3) !default;
$header-light-brand-color:                   $header-light-active-color !default;
$header-light-brand-hover-color:             $header-light-active-color !default;
$header-sticky-padding-y:                    $header-padding-y !default;
$header-sticky-padding-x:                    $header-padding-x !default;
$header-sticky-brand-font-size:              $header-brand-font-size !default;
$header-sticky-content-gap:                  $header-content-gap !default;
$header-sticky-nav-link-padding-x:           $header-nav-link-padding-x !default;
$header-sticky-nav-link-padding-y:           $header-nav-link-padding-y !default;
$header-sticky-nav-link-font-size:           $header-nav-link-font-size !default;
$header-sticky-nav-link-color:               $header-nav-link-color !default;
$header-sticky-nav-link-decoration:          $header-nav-link-decoration !default;
$header-sticky-nav-link-hover-color:         $header-nav-link-hover-color !default;
$header-sticky-nav-link-active-color:        $header-nav-link-active-color !default;
$header-sticky-nav-link-hover-decoration:    $header-nav-link-hover-decoration !default;
$header-sticky-nav-link-disabled-color:      $header-nav-link-disabled-color !default;
$header-sticky-nav-link-icon-font-size:      $header-nav-link-icon-font-size !default;
$header-sticky-nav-link-icon-margin-bottom:  $header-nav-link-icon-margin-bottom !default;
$header-sticky-nav-link-badge-font-size:     $header-nav-link-badge-font-size !default;
$header-sticky-nav-link-badge-width:         $header-nav-link-badge-width !default;
$header-sticky-light-background-color:       $header-light-background-color !default;
$header-sticky-light-color:                  $header-light-color !default;
$header-sticky-light-hover-color:            $header-light-hover-color !default;
$header-sticky-light-active-color:           $header-light-active-color !default;
$header-sticky-light-disabled-color:         $header-light-disabled-color !default;
$header-sticky-light-brand-color:            $header-light-brand-color !default;
$header-sticky-light-brand-hover-color:      $header-light-brand-hover-color !default;
$header-transparent-color:                   $white !default;
$header-transparent-hover-color:             rgba($white, .75) !default;
$header-transparent-active-color:            $white !default;
$header-transparent-disabled-color:          rgba($white, .25) !default;
// scss-docs-end header-variables

// scss-docs-start header-dark-variables
$header-dark-background-color:        var(--#{$prefix}dark) !default;
$header-dark-color:                   rgba($white, .55) !default;
$header-dark-hover-color:             rgba($white, .75) !default;
$header-dark-active-color:            $white !default;
$header-dark-disabled-color:          rgba($white, .25) !default;
$header-dark-brand-color:             $header-dark-active-color !default;
$header-dark-brand-hover-color:       $header-dark-active-color !default;
// scss-docs-end header-dark-variables

// Page menu
// scss-docs-start page-menu-variables
$page-menu-breakpoint:                lg !default;
$page-menu-padding-y:                 $spacer !default;
$page-menu-padding-x:                 0 !default;
$page-menu-light-background:          $header-light-background-color !default;
$page-menu-light-color:               $header-light-color !default;
$page-menu-box-shadow:                0 1rem 1rem rgba(0, 0, 0, .075) !default;
// scss-docs-end page-menu-variables

// scss-docs-start page-menu-dark-variables
$page-menu-dark-background:           $header-dark-background-color !default;
$page-menu-dark-color:                $header-dark-color !default;
// scss-docs-end page-menu-dark-variables

// scss-docs-start page-navigation-variables
$page-nav-transition:                    left .3s ease-in-out, transform .3s ease-in-out, opacity .3s ease-in-out, visibility .3s ease-in-out !default;
$page-nav-panel-bg:                      var(--#{$prefix}body-bg) !default;
$page-nav-link-padding-y:                .5rem !default;
$page-nav-link-padding-x:                1rem !default;
$page-nav-link-font-size:                null !default;
$page-nav-link-font-weight:              null !default;
$page-nav-link-color:                    var(--#{$prefix}body-color) !default;
$page-nav-link-hover-color:              var(--#{$prefix}link-hover-color) !default;
$page-nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;
$page-nav-link-disabled-color:           var(--#{$prefix}secondary-color) !default;
$page-nav-link-toggle-color:             $page-nav-link-color !default;
$page-nav-link-toggle-hover-color:       $page-nav-link-hover-color !default;
$page-nav-link-toggle-width:             2em !default;
$page-nav-link-toggle-border-width:      null !default;
$page-nav-link-toggle-border-color:      null !default;
$page-nav-link-toggle-border-style:      null !default;
$page-nav-link-toggle-icon-transition:   transform .3s ease-in-out !default;
$page-nav-link-back-color:               var(--#{$prefix}link-color) !default;
$page-nav-link-back-hover-color:         var(--#{$prefix}link-hover-color) !default;
$page-nav-type-grid-column:              4 !default;
$page-nav-type-grid-level-2-gap-x:       1em !default;
$page-nav-type-grid-level-2-gap-y:       1em !default;
$page-nav-type-grid-level-2-padding-x:   0 !default;
$page-nav-type-grid-level-2-padding-y:   0 !default;
$page-nav-type-desktop-column:              2 !default;
$page-nav-type-desktop-level-1-gap-x:       1em !default;
$page-nav-type-desktop-level-1-gap-y:       1em !default;
$page-nav-type-desktop-level-1-padding-x:   0 !default;
$page-nav-type-desktop-level-1-padding-y:   0 !default;

// scss-docs-end page-navigation-variables

// scss-docs-start page-navigation-dark-variables
$page-nav-dark-panel-dark-bg: var(--#{$prefix}dark) !default;
$page-nav-dark-link-color: rgba($white, .55) !default;
$page-nav-dark-link-hover-color: rgba($white, .75) !default;
$page-nav-dark-link-disabled-color: rgba($white, .25) !default;
$page-nav-dark-link-toggle-color: rgba($white, .55) !default;
$page-nav-dark-link-toggle-hover-color: rgba($white, .75) !default;
$page-nav-dark-link-back-color: rgba($white, .55) !default;
$page-nav-dark-link-back-hover-color: rgba($white, .75) !default;
// scss-docs-start page-navigation-dark-variables

// Header search
// scss-docs-start header-search-variables
$header-search-padding-y:                 $spacer !default;
$header-search-padding-x:                 0 !default;
$header-search-light-background:          $header-light-background-color !default;
$header-search-light-color:               $header-light-color !default;
$header-search-box-shadow:                0 1rem 1rem rgba(0, 0, 0, .075) !default;
// scss-docs-end header-search-variables

// scss-docs-start page-menu-dark-variables
$header-search-dark-background:           $header-dark-background-color !default;
$header-search-dark-color:                $header-dark-color !default;
// scss-docs-end page-menu-dark-variables

// Copyright
// scss-docs-start copyright-variables
$copyright-horizontal-breakpoint:   md !default;
// scss-docs-end copyright-variables

// Lightbox
// scss-docs-start lightbox-variables
$lightbox-btn-arrow-width: 42px !default;
$lightbox-btn-arrow-height: 42px !default;
$lightbox-btn-arrow-offset: 1rem !default;
$lightbox-btn-arrow-background: rgba(0, 0, 0, .32) !default;
$lightbox-btn-arrow-hover-background: rgba(0, 0, 0, .7) !default;
$lightbox-btn-close-width: 35px !default;
$lightbox-btn-close-height: 35px !default;
$lightbox-btn-close-offset-right: 1rem !default;
$lightbox-btn-close-offset-top: 15px !default;
$lightbox-btn-close-background: $lightbox-btn-arrow-background !default;
$lightbox-btn-close-hover-background: $lightbox-btn-arrow-hover-background !default;
$lightbox-background: var(--#{$prefix}body-bg) !default;
$lightbox-tabs-margin: 1rem !default;
$lightbox-tabs-padding-x: 1rem !default;
$lightbox-tabs-padding-y: 1rem !default;
$lightbox-tabs-border-width: 1px !default;
$lightbox-tabs-border-color: var(--#{$prefix}border-color) !default;
$lightbox-thumbnails-width: 70px !default;
$lightbox-thumbnails-height: 70px !default;
$lightbox-thumbnails-margin: 1rem !default;
$lightbox-thumbnails-padding-x: $lightbox-tabs-padding-x !default;
$lightbox-thumbnails-padding-y: $lightbox-tabs-padding-y !default;
$lightbox-thumbnails-border-width: $lightbox-tabs-border-width !default;
$lightbox-thumbnails-border-color: $lightbox-tabs-border-color !default;
// scss-docs-end lightbox-variables

// Map
// scss-docs-start map-variables
$map-popover-content-horizontal-image-max-width: clamp(100px, 25vw, 50%) !default;
// scss-docs-end map-variables

// Printing
// scss-docs-start print-variables
$print-page-size:               a4 !default;
$print-body-min-width:          992px !default;
$print-carousel-space-between:  10px !default;
// scss-docs-end print-variables


// Link Cover Content
// scss-docs-start link-cover-content-variables
$link-cover-content-bg: rgba(0, 0, 0, .6) !default;
$link-cover-content-color: #fff !default;
$link-cover-content-font-size: 1.75rem !default;
// scss-docs-end link-cover-content-variables
