// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;

// Prefix for :root CSS variables

$prefix: bs- !default;

// Links

$link-external-icon: $ofi-link-external !default;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: .5em !default;
$input-btn-padding-x: .75em !default;

// Forms

// scss-docs-start form-datepicker-variables
$form-select-indicator-padding: $input-btn-padding-x * 3 !default; // Extra padding for background-image
$form-select-bg-position: left $input-btn-padding-x center !default;
$form-select-bg-size: 16px 16px !default; // In pixels because image dimensions
$form-datepicker-indicator-color: #000 !default;
$form-timepicker-indicator-color: $form-datepicker-indicator-color !default;
$form-datepicker-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-datepicker-indicator-color}' d='M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z'/></svg>") !default;
$form-timepicker-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='#{$form-timepicker-indicator-color}' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z'/></svg>") !default;
// scss-docs-end form-datepicker-variables

// scss-docs-start calendar-variables
$calendar-arrow-hover-color: #f64747 !default;
$calendar-background: #fff !default;
$calendar-border-color: #e6e6e6 !default;
$calendar-month-foreground: #5a6171 !default;
$calendar-month-background: transparent !default;
$calendar-weekdays-background: transparent !default;
$calendar-weekdays-foreground: #5a6171 !default;
$calendar-day-foreground: #393939 !default;
$calendar-day-hover-background: #e6e6e6 !default;
$calendar-today-color: #959ea9 !default;
$calendar-selected-day-background: #569ff7 !default;
$calendar-selected-day-color: #fff !default;
// scss-docs-end calendar-variables

// Buttons

// scss-docs-start btn-icon-variables
$btn-icon-gap: .35em !default;
// scss-docs-end btn-icon-variables

// Typography

$font-weight-normal: 400 !default;

// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em !default;
$badge-font-weight:                 $font-weight-normal !default;
$badge-color:                       $white !default;
$badge-padding-y:                   .75em !default;
$badge-padding-x:                   .75em !default;
$badge-border-radius:               var(--#{$prefix}border-radius-pill) !default;
// scss-docs-end badge-variables
