.wrapper {
  // scss-docs-start wrapper-css-vars
  --#{$prefix}wrapper-padding-y: #{$wrapper-padding-y};
  --#{$prefix}wrapper-padding-x: #{$wrapper-padding-x};
  --#{$prefix}wrapper-color: #{$wrapper-color};
  --#{$prefix}wrapper-bg-color: #{$wrapper-bg-color};
  --#{$prefix}wrapper-z-index: #{$wrapper-z-index};
  --#{$prefix}wrapper-media-opacity: #{$wrapper-media-opacity};
  --#{$prefix}wrapper-text-shadow: #{$wrapper-text-shadow};
  position: relative;
  z-index: var(--#{$prefix}wrapper-z-index);
  // scss-docs-end wrapper-css-vars

  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--#{$prefix}wrapper-padding-y) var(--#{$prefix}wrapper-padding-x);
  color: var(--#{$prefix}wrapper-color);
  background-color: var(--#{$prefix}wrapper-bg-color);

  &-bg-light {
    --#{$prefix}wrapper-bg-color: #{$wrapper-bg-color-light};
    --#{$prefix}wrapper-color: #{color-contrast($wrapper-bg-color-light)};
  }

  &-bg-dark {
    --#{$prefix}wrapper-bg-color: #{$wrapper-bg-color-dark};
    --#{$prefix}wrapper-color: #{color-contrast($wrapper-bg-color-dark)};
  }
}

.wrapper-zoom {
  overflow: hidden;

  .wrapper-bg-media {
    @include transition($wrapper-media-zoom-transition);
  }

  &:hover {
    .wrapper-bg-media {
      transform: scale(1.1);
    }
  }
}

.wrapper-bg-media {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: var(--#{$prefix}wrapper-media-opacity);

  figure,
  picture {
    height: 100%;
  }

  img,
  svg,
  video,
  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapper-content {
  @include font-size(1.2rem);
  text-shadow: var(--#{$prefix}wrapper-text-shadow);

  a {
    text-shadow: none;
  }
}
